<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.adv.sd.dao.AmzAdvReportProductTargetsSDAttributedAllMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.adv.sd.pojo.AmzAdvReportProductTargetsSDAttributedAll" >
    <id column="campaignId" property="campaignid" jdbcType="BIGINT" />
    <id column="bydate" property="bydate" jdbcType="DATE" />
    <result column="profileid" property="profileid" jdbcType="BIGINT" />
    <result column="impressions" property="impressions" jdbcType="INTEGER" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />

  </resultMap>
  <sql id="Base_Column_List" >
    campaignId, bydate, profileid, campaignStatus, campaignName, impressions, clicks, 
    cost, currency, attributedConversions1d, attributedConversions7d, attributedConversions14d, 
    attributedConversions30d, attributedConversions1dSameSKU, attributedConversions7dSameSKU, 
    attributedConversions14dSameSKU, attributedConversions30dSameSKU, attributedUnitsOrdered1d, 
    attributedUnitsOrdered7d, attributedUnitsOrdered14d, attributedUnitsOrdered30d, attributedSales1d, 
    attributedSales7d, attributedSales14d, attributedSales30d, attributedSales1dSameSKU, 
    attributedSales7dSameSKU, attributedSales14dSameSKU, attributedSales30dSameSKU
  </sql>
   

</mapper>