#Eclipse project files
.project
.classpath
.settings
#IntelliJ IDEA project files and directories
*.iml
*.ipr
*.iws
.idea/
#Geany project file
.geany
#KDevelop project file and directory
.kdev4/
*.kdev4
#Build targets
/target
*/target
#Report directories
/reports
*/reports
*/test-output
#Mac-specific directory that no other operating system needs.
.DS_Store

#Scala-play project files
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.log*
*/*.log*
dep.txt
*.rdb
