<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.quote.ship.mapper.ShipmentSupplierTranschannelMapper">

    <resultMap id="BaseResultMap" type="com.wimoor.quote.ship.pojo.entity.ShipmentSupplierTranschannel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="CHAR"/>
            <result property="opttime" column="opttime" jdbcType="TIMESTAMP"/>
            <result property="supplierid" column="supplierid" jdbcType="BIGINT"/>
            <result property="channelid" column="channelid" jdbcType="BIGINT"/>
            <result property="disable" column="disable" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,opttime,supplierid,channelid,country,
        disable
    </sql>
    <select id="listPage" resultType="java.util.Map" parameterType="com.wimoor.quote.ship.pojo.dto.ShipmentSupplierTranschannelDTO">
           select t.*,s.name channeltype,c.name company
           from t_shipment_supplier_transchannel t
           left join t_shipment_transchannel s on s.id=t.channelid
           left join t_user_supplier c on c.id=t.supplierid
           where t.buyerid=#{param.buyerid,jdbcType=CHAR}
             and ifnull(t.disable,0)=0
            <if test="param.name!=null">
                 and t.name like     #{param.name,jdbcType=CHAR}
            </if>
            <if test="param.supplierid!=null">
                and t.supplierid like     #{param.supplierid,jdbcType=CHAR}
            </if>
    </select>
</mapper>
