<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.quote.ship.mapper.ShipmentTranschannelMapper">

    <resultMap id="BaseResultMap" type="com.wimoor.quote.ship.pojo.entity.ShipmentTranschannel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="CHAR"/>
            <result property="opttime" column="opttime" jdbcType="TIMESTAMP"/>
            <result property="buyerid" column="buyerid" jdbcType="BIGINT"/>
            <result property="disable" column="disable" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,opttime,operator,buyerid,country,
        disable
    </sql>
    <select id="listPage" resultType="java.util.Map" parameterType="com.wimoor.quote.ship.pojo.dto.ShipmentSupplierTranschannelDTO">
        select * from t_shipment_transchannel t where t.buyerid=#{param.buyerid,jdbcType=CHAR}
        and ifnull(t.disable,0)=0
        <if test="param.name!=null">
            and t.name like     #{param.name,jdbcType=CHAR}
        </if>
    </select>
</mapper>
