<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.finances.mapper.AmzSettlementAccStatementMapper" >
 
  <select id="findAll" resultType="java.util.Map" parameterType="java.lang.String">
     SELECT t.startdate,t.enddate,t.id,t.opttime,t.currency,g.name gname,u.name uname,m.name market 
      FROM t_amz_settlement_acc_statement t
	LEFT JOIN t_amazon_group g ON g.id=t.groupid
	LEFT JOIN t_userinfo u ON u.id=t.operator
	LEFT JOIN t_marketplace m ON m.marketplaceId=t.marketplaceid
	where t.shopid=#{shopid,jdbcType=CHAR}
	order by t.opttime desc
  </select>
  
    <select id="existByKey" resultType="java.util.Map" parameterType="java.util.Map">
    SELECT t.`*`,g.name gname,u.name uname,m.name market FROM t_amz_settlement_acc_statement t
	LEFT JOIN t_amazon_group g ON g.id=t.groupid
	LEFT JOIN t_userinfo u ON u.id=t.operator
	LEFT JOIN t_marketplace m ON m.marketplaceId=t.marketplaceid
	where t.shopid=#{shopid,jdbcType=CHAR}
	 <if test="groupid != null" >
	  and   t.groupid=#{groupid,jdbcType=BIGINT}
	 </if>
	 <if test="marketplaceid != null" >
	  and   t.marketplaceid=#{marketplaceid,jdbcType=CHAR}
	 </if>
	 <if test="startdate != null" >
	  and   ((t.startdate&lt;=#{startdate,jdbcType=DATE} and t.enddate&gt;=#{startdate,jdbcType=DATE} )
	          or   
	         (t.startdate&lt;=#{enddate,jdbcType=DATE}   and t.enddate&gt;=#{enddate,jdbcType=DATE}   )
	        )
	 </if>
	order by t.opttime desc
  </select>
  <select id="selectSettlementOpen" resultType="java.util.Map" parameterType="java.util.Map">
	  SELECT f.financial_event_group_start,
	  i.name pname,
	  i.`asin`,
	  m.name mname,
	  de.cname ftypename,
	  IFNULL(p.location,p.url) image,
	 t.posted_date,t.amazon_order_id,t.marketplace_name,t.event_type,t.sku,ftype,t.currency,t.amount,t.quantity 
	 FROM t_amz_settlement_open t 
	LEFT join t_amz_fin_account  f ON f.amazonAuthid=t.amazonauthid AND f.groupid=t.group_id
	LEFT JOIN t_marketplace m ON m.point_name=t.marketplace_name
	LEFT JOIN t_amazon_auth a ON a.id=t.amazonauthid
	LEFT JOIN t_product_info i ON i.marketplaceid=m.marketplaceId AND i.amazonAuthId=t.amazonauthid AND i.sku=t.sku
	LEFT JOIN t_picture p ON p.id=i.image
	LEFT JOIN t_amz_settlement_amount_description de ON de.ename=t.ftype
	 WHERE a.shop_id=#{param.shopid,jdbcType=CHAR}
	  and f.processing_status='Open'
	   <if test="param.groupid!=null and param.groupid!=''">
	   		and a.groupid=#{param.groupid,jdbcType=CHAR}
	   </if>
	   <if test="param.marketplaceid!=null and param.marketplaceid!=''">
	   		and m.marketplaceid=#{param.marketplaceid,jdbcType=CHAR}
	   </if>
	    <if test="param.authid!=null and param.authid!=''">
	   		and a.id=#{param.authid,jdbcType=CHAR}
	   </if>
	    <if test="param.endDate!=null and param.endDate!=''">
	   		and t.posted_date&gt;=#{param.startDate,jdbcType=CHAR}
	   		and t.posted_date&lt;=#{param.endDate,jdbcType=CHAR}
	   </if>
  </select>
   
</mapper>