<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.purchase.mapper.PurchaseFormPaymentMethodMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.erp.purchase.pojo.entity.PurchaseFormPaymentMethod" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="opttime" property="opttime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="CHAR" />
  </resultMap>


  <select id="getMethodByShopid" parameterType="java.lang.String" resultType="com.wimoor.erp.purchase.pojo.entity.PurchaseFormPaymentMethod">
    SELECT t.* FROM t_erp_purchase_form_payment_method t
     LEFT JOIN t_erp_purchase_form_payment_method_index i ON t.id=i.method_id AND i.shopid=#{shopid,jdbcType=CHAR}
     ORDER BY IFNULL(i.findex,t.id) asc
  </select>

  <update id="savePaymethodIndex" parameterType="java.util.Map">
     replace into t_erp_purchase_form_payment_method_index
             (method_id,shopid,`findex`)
     values
      (#{id,jdbcType=INTEGER},#{shopid,jdbcType=CHAR},#{findex,jdbcType=INTEGER})

  </update>
</mapper>