<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.purchase.mapper.PurchaseWareHouseMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.erp.purchase.pojo.entity.PurchaseWareHouseMaterial" >
    <id column="planid" property="planid" jdbcType="CHAR" />
    <id column="materialid" property="materialid" jdbcType="BIGINT" />
    <result column="warehouseid" property="warehouseid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    planid, warehouseid, materialid 
  </sql>
  
</mapper>