wimoor-admin/target/
wimoor-amazon/target/
wimoor-auth/target/
wimoor-common/target/
wimoor-erp/target/
wimoor-gateway/target/
wimoor-shopee/target/
target
/wimoor-admin/admin-boot/*.factorypath
*.factorypath
.factorypath
.apt_generated
.apt_generated_tests
