# Spring Boot 项目通用忽略
.idea/
target/
*.jar
*.war
*.ear
*.class
*.log
.mvn/
mvnw*
!mvnw.cmd
/logs
/bin
/docker
/config
wimoor-admin/target/
wimoor-amazon/target/
wimoor-auth/target/
wimoor-common/target/
wimoor-erp/target/
wimoor-gateway/target/
wimoor-shopee/target/
target
/wimoor-admin/admin-boot/*.factorypath
*.factorypath
.factorypath
.apt_generated
.apt_generated_tests
*.classpath


.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

