<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.admin.mapper.SystemUserNotifyMapper">
	<resultMap id="BaseResultMap" type="com.wimoor.admin.pojo.entity.SystemUserNotify">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="isRead" property="isread" jdbcType="BIT" />
		<result column="userid" property="userid" jdbcType="CHAR" />
		<result column="notify" property="notify" jdbcType="INTEGER" />
		<result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="findLasttimeByUser" resultType="java.util.Date" parameterType="java.lang.String">
		select max(un.createdAt) 
		from t_sys_usernotify un
		where userid=#{userid,jdbcType=CHAR}
	</select>

	<select id="findNotifyByUser" resultType="java.util.Map" parameterType="java.util.Map">
		select n.*,un.isRead 
		from t_sys_usernotify un
		left join t_sys_notify n on n.id=un.notify
		where un.userid=#{param.userid,jdbcType=CHAR}
			and n.ftype=#{param.ftype,jdbcType=INTEGER}
		<if test="param.targettype!=null">
			and n.target=#{param.targettype,jdbcType=CHAR}
		</if>
		order by isread asc,n.createdAt desc
	</select>

	<update id="updateRead" parameterType="java.lang.String">
		update t_sys_usernotify set isRead=1 
		where userid=#{userid,jdbcType=CHAR}
			and notify=#{notify,jdbcType=CHAR}
	</update>
	
	<select id="selectAllTargetsByUser" parameterType="java.lang.String" resultType="java.util.Map">
		select * 
		from t_sys_usernotify t 
		where t.userid=#{userid,jdbcType=CHAR} 
			and t.isRead=0
	</select>

</mapper>