<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.erp.purchase.mapper.PurchasePlanModelItemsubMapper">
  <resultMap id="BaseResultMap" type="com.wimoor.erp.purchase.pojo.entity.PurchasePlanModelItemsub">
    <id column="itemid" jdbcType="CHAR" property="itemid" />
    <id column="sku" jdbcType="CHAR" property="sku" />
    <id column="marketplaceid" jdbcType="CHAR" property="marketplaceid" />
    <id column="groupid" jdbcType="BIGINT" property="groupid" />
    <result column="needship" jdbcType="INTEGER" property="needship" />
    <result column="salesday" jdbcType="INTEGER" property="salesday" />
    <result column="aftersalesday" jdbcType="INTEGER" property="aftersalesday" />
  </resultMap>
  <sql id="Base_Column_List">
    itemid, sku, marketplaceid, groupid, needship, salesday, aftersalesday
  </sql>
  <!-- <select id="selectByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsubKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_erp_purchase_planmodelitemsub
    where itemid = #{itemid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and groupid = #{groupid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsubKey">
    delete from t_erp_purchase_planmodelitemsub
    where itemid = #{itemid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and groupid = #{groupid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    insert into t_erp_purchase_planmodelitemsub (itemid, sku, marketplaceid, 
      groupid, needship, salesday, 
      aftersalesday)
    values (#{itemid,jdbcType=CHAR}, #{sku,jdbcType=CHAR}, #{marketplaceid,jdbcType=CHAR}, 
      #{groupid,jdbcType=BIGINT}, #{needship,jdbcType=INTEGER}, #{salesday,jdbcType=INTEGER}, 
      #{aftersalesday,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    insert into t_erp_purchase_planmodelitemsub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemid,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="marketplaceid != null">
        marketplaceid,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="needship != null">
        needship,
      </if>
      <if test="salesday != null">
        salesday,
      </if>
      <if test="aftersalesday != null">
        aftersalesday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=CHAR},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=CHAR},
      </if>
      <if test="marketplaceid != null">
        #{marketplaceid,jdbcType=CHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="needship != null">
        #{needship,jdbcType=INTEGER},
      </if>
      <if test="salesday != null">
        #{salesday,jdbcType=INTEGER},
      </if>
      <if test="aftersalesday != null">
        #{aftersalesday,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    update t_erp_purchase_planmodelitemsub
    <set>
      <if test="needship != null">
        needship = #{needship,jdbcType=INTEGER},
      </if>
      <if test="salesday != null">
        salesday = #{salesday,jdbcType=INTEGER},
      </if>
      <if test="aftersalesday != null">
        aftersalesday = #{aftersalesday,jdbcType=INTEGER},
      </if>
    </set>
    where itemid = #{itemid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and groupid = #{groupid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    update t_erp_purchase_planmodelitemsub
    set needship = #{needship,jdbcType=INTEGER},
      salesday = #{salesday,jdbcType=INTEGER},
      aftersalesday = #{aftersalesday,jdbcType=INTEGER}
    where itemid = #{itemid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and groupid = #{groupid,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    <id column="itemid" jdbcType="CHAR" property="itemid" />
    <id column="marketplaceid" jdbcType="CHAR" property="marketplaceid" />
    <id column="sku" jdbcType="CHAR" property="sku" />
    <result column="groupid" jdbcType="BIGINT" property="groupid" />
    <result column="needship" jdbcType="INTEGER" property="needship" />
    <result column="salesday" jdbcType="INTEGER" property="salesday" />
    <result column="aftersalesday" jdbcType="INTEGER" property="aftersalesday" />
  </resultMap>
  <sql id="Base_Column_List">
    itemid, marketplaceid, sku, groupid, needship, salesday, aftersalesday
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsubKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_erp_purchase_planmodelitemsub
    where itemid = #{itemid,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsubKey">
    delete from t_erp_purchase_planmodelitemsub
    where itemid = #{itemid,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    insert into t_erp_purchase_planmodelitemsub (itemid, marketplaceid, sku, 
      groupid, needship, salesday, 
      aftersalesday)
    values (#{itemid,jdbcType=CHAR}, #{marketplaceid,jdbcType=CHAR}, #{sku,jdbcType=CHAR}, 
      #{groupid,jdbcType=BIGINT}, #{needship,jdbcType=INTEGER}, #{salesday,jdbcType=INTEGER}, 
      #{aftersalesday,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    insert into t_erp_purchase_planmodelitemsub
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemid,
      </if>
      <if test="marketplaceid != null">
        marketplaceid,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="groupid != null">
        groupid,
      </if>
      <if test="needship != null">
        needship,
      </if>
      <if test="salesday != null">
        salesday,
      </if>
      <if test="aftersalesday != null">
        aftersalesday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=CHAR},
      </if>
      <if test="marketplaceid != null">
        #{marketplaceid,jdbcType=CHAR},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=CHAR},
      </if>
      <if test="groupid != null">
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="needship != null">
        #{needship,jdbcType=INTEGER},
      </if>
      <if test="salesday != null">
        #{salesday,jdbcType=INTEGER},
      </if>
      <if test="aftersalesday != null">
        #{aftersalesday,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    update t_erp_purchase_planmodelitemsub
    <set>
      <if test="groupid != null">
        groupid = #{groupid,jdbcType=BIGINT},
      </if>
      <if test="needship != null">
        needship = #{needship,jdbcType=INTEGER},
      </if>
      <if test="salesday != null">
        salesday = #{salesday,jdbcType=INTEGER},
      </if>
      <if test="aftersalesday != null">
        aftersalesday = #{aftersalesday,jdbcType=INTEGER},
      </if>
    </set>
    where itemid = #{itemid,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.PurchasePlanModelItemsub">
    update t_erp_purchase_planmodelitemsub
    set groupid = #{groupid,jdbcType=BIGINT},
      needship = #{needship,jdbcType=INTEGER},
      salesday = #{salesday,jdbcType=INTEGER},
      aftersalesday = #{aftersalesday,jdbcType=INTEGER}
    where itemid = #{itemid,jdbcType=CHAR}
      and marketplaceid = #{marketplaceid,jdbcType=CHAR}
      and sku = #{sku,jdbcType=CHAR}
  </update> -->
</mapper>