<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.common.mapper.SummaryDataMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.common.pojo.entity.SummaryData" >
    <result column="id" property="id" jdbcType="CHAR" />
    <result column="ftype" property="ftype" jdbcType="CHAR" />
    <result column="value" property="value" jdbcType="DECIMAL" />
     <result column="mapdata" property="mapdata" jdbcType="VARCHAR" />
    <result column="shopid" property="shopid" jdbcType="CHAR" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="findMainReport" parameterType="java.lang.String" resultMap="BaseResultMap">
  		select * from t_erp_summary_data t where t.shopid=#{shopid,jdbcType=CHAR}
  		<if test="ftype !=null">
  		and t.ftype like #{ftype,jdbcType=CHAR} 
  		</if>
  </select>
  
   <!-- 在售商品数量 -->
   <select id="refreshProNum"  >
        insert into t_erp_summary_data
        SELECT uuid_short(),'main-2-pro-new',SUM(v.quantity),d.value,ifnull(shop_id,0) shopid,NOW() 
        from
        (SELECT amazonAuthId,sum(case when t.invalid=0 and t.isparent=0  then 1 ELSE 0 END) quantity
        FROM t_product_info t
        GROUP BY t.amazonAuthId) v
         left join t_amazon_auth a on a.id=v.amazonAuthId
		 left join t_erp_summary_data d on d.shopid=a.shop_id and d.ftype='main-2-pro'           
        group by a.shop_id;
        delete from t_erp_summary_data where ftype='main-2-pro';
         update t_erp_summary_data SET ftype='main-2-pro' where ftype='main-2-pro-new';
         REPLACE INTO t_amz_product_active_daynum
		 SELECT amazonAuthId,marketplaceid,current_date(),
		 sum(case when t.invalid=0 and t.isparent=0  AND IFNULL(o.disable,0)=0 then 1 ELSE 0 END) quantity
		 FROM t_product_info t
		 LEFT JOIN t_product_in_opt o ON o.pid=t.id
		 GROUP BY t.amazonAuthId,t.marketplaceid;
   </select>
      <!-- 在售商品数量 -->
   <select id="findProNum" parameterType="java.lang.String" resultType="java.lang.Integer" >
       select COUNT(0)  
   		from t_product_info t
		left join t_amazon_auth a on t.amazonAuthId=a.id
	    where a.shop_id=#{shopid,jdbcType=CHAR} and t.invalid=0 and t.isparent=0
 
   </select>
   
   <select id="refreshProRate" >
        insert into t_erp_summary_data
		select uuid_short(),'main-2-protosel-new', ifnull(sum(case when ifnull(f.flownumber,ifnull(t.totalOfferCount,1))=1 or
		ifnull(f.flownumber,ifnull(t.totalOfferCount,1))=0  then 0 else 1 end )/count(0)*100,0),d.value,ifnull(a.shop_id,0),NOW()
   	    from t_product_info t
	  	left join t_amazon_auth a on t.amazonAuthId=a.id
	  	left join t_erp_summary_data d on d.shopid=a.shop_id and d.ftype='main-2-protosel' 
        left join t_product_follow f on f.asin=t.asin and f.marketplaceid=t.marketplaceid and f.amazonAuthId=a.id
	    group by a.shop_id;
	    delete from t_erp_summary_data where ftype='main-2-protosel' ;
	    update t_erp_summary_data SET ftype='main-2-protosel' where ftype='main-2-protosel-new';
   </select>
   
   <select id="monthSalesOrders"    resultType="java.util.Map" >
     select sum(ifnull(quantity,0)) quantity,sum(ifnull(ordernumber,0)) ordernumber from  t_summaryall o
      left join t_amazon_auth a on o.amazonAuthId=a.id
      where a.shop_id=#{shopid,jdbcType=CHAR}
      and o.purchase_date>=#{oneday,jdbcType=DATE}
   </select>
   <select id="returnOrders"   resultType="java.lang.Integer" >
		SELECT  SUM(quantity) quantity 
		from t_amz_returns_report r
		LEFT JOIN t_amazon_auth a ON  a.sellerid=r.sellerid
		WHERE a.shop_id=#{shopid,jdbcType=CHAR}
		AND return_date>=#{oneday,jdbcType=DATE}
   </select>
 
 
   
  
   <!-- 上月商品总销量  -->
   <delete id="deleteAllMainRpt" parameterType="java.lang.String">
   delete t from t_erp_summary_data t where t.shopid=#{shopid,jdbcType=CHAR}  and t.ftype
   in('weekdata','lastqty','last5','market')
   </delete>
</mapper>