<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.sys.email.mapper.SysMailTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.sys.email.pojo.entity.SysMailTemplate">
        <id column="id" property="id" />
        <result column="mail_subject" property="mailSubject" />
        <result column="ftype" property="ftype" />
        <result column="shopid" property="shopid" />
        <result column="content" property="content" />
    </resultMap>

</mapper>
