<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.order.mapper.OrderMapper" >
    <select id="findOrderByCondition" resultType="java.util.Map"  >
        SELECT p.location image,m.name, f.`name` platformname,w.name warehousename,
        o.*,ifnull(o.price,0)-ifnull(o.ship_fee,0)-ifnull(o.referral_fee,0)-ifnull(m.price,0)*ifnull(o.quantity,0) profit,
        (ifnull(o.price,0)-ifnull(o.ship_fee,0)-ifnull(o.referral_fee,0)-ifnull(m.price,0)*ifnull(o.quantity,0))/ifnull(o.price,1) profit_rate
        from t_erp_order o
        LEFT JOIN t_erp_order_platform f ON f.id=o.platform_id
        LEFT JOIN t_erp_material m ON m.sku=o.sku AND m.shopid=o.shopid AND m.isDelete=0
        left join t_erp_warehouse w on w.id=o.warehouseid
        LEFT JOIN t_picture p ON p.id=m.image
        where o.shopid=#{param.shopid,jdbcType=CHAR}
        <if test="param.platformid!=null and param.platformid!=''">
            AND o.platform_id=#{param.platformid,jdbcType=CHAR}
        </if>
        <if test="param.warehouseid!=null and param.warehouseid!=''">
            AND o.warehouseid=#{param.warehouseid,jdbcType=CHAR}
        </if>
        <if test="param.sku!=null">
            AND (o.sku like #{param.sku,jdbcType=CHAR} or o.order_id like #{param.sku,jdbcType=CHAR})
        </if>
    </select>
    <select id="findMaterialByCondition" resultType="java.util.Map" parameterType="java.util.Map">
        select m.id, m.sku sku,m.color color,
               m.name name,m.shopid shopid,ifnull(m.boxnum,0) boxnum,
               g.color catecolor,m.upc upc,g.name category,
               IFNULL(p.location,p.url) image,m.brand brand,
               q.price price,ifnull(i.fulfillable,0)+ifnull(i.outbound,0) qty,
               ifnull(i.fulfillable,0) fulfillable,ifnull(i.outbound,0) outbound,
               m.isDelete isDelete,i.warehousename,
               c.name supplier, m.issfg issfg, m.remark remark,
               u.name operator,m.supplier supplierid,
               m.opttime opttime,m.MOQ,m.delivery_cycle,m.effectivedate createdate,
               m.purchaseUrl, d.length,d.width,d.height ,d.weight,
               di.length plength,di.width pwidth,di.height pheight,
               di.weight  pweight,i.fulfillable/v.quantity quantity,
               ifnull(i.fulfillable,0)+ifnull(i.outbound,0)/ifnull(m.boxnum,1) boxqty,
               ifnull(di.length,0)*ifnull(di.width,0)*ifnull(di.height,0) boxsize,
               case when sp.materialid is null then false else true end ischeck
        from t_erp_material m
        left join t_dimensions d on d.id=m.pkgDimensions
        left join t_dimensions di on di.id=m.boxDimensions
        left join t_erp_order_ship_plan sp on sp.shopid=m.shopid and sp.materialid=m.id
        left join (
                select sku,sum(quantity) quantity
                from  t_erp_order
                where shopid=#{param.shopid,jdbcType=CHAR} and purchase_date>=DATE_FORMAT(NOW(), '%Y-%m-01')
                group by shopid,sku
        ) v on v.sku=m.sku
        left join t_erp_material_category g on g.id=m.categoryid AND g.shopid=#{param.shopid,jdbcType=CHAR}
        left join t_picture p on m.image=p.id
        left join t_erp_customer c on c.id=m.supplier AND c.shopid=#{param.shopid,jdbcType=CHAR}
        left join ( select i.shopid,max(i.warehouseid) warehouseid,i.materialid ,w.name warehousename,
                    sum( case when i.status='inbound' then i.quantity else 0 end ) inbound,
                    sum( case when i.status='outbound' then i.quantity else 0 end ) outbound,
                    sum( case when i.status='fulfillable' then i.quantity else 0 end ) fulfillable
                    from t_erp_inventory i
                    left join t_erp_warehouse w on w.id=i.warehouseid
                    where i.shopid=#{param.shopid,jdbcType=CHAR}
                    <if test="param.warehouseid != null">
                        and i.warehouseid = #{param.warehouseid,jdbcType=CHAR}
                    </if>
        group by i.shopid, i.materialid
        ) i on i.materialid=m.id
        left join ( SELECT material,max(price) price
        FROM t_erp_stepwise_quotn group by material
        ) q on m.id= q.material
        left join t_userinfo u on u.id=m.operator
        where m.shopid=#{param.shopid,jdbcType=CHAR}
        and m.isDelete = 0
        <if test="param.warehouseid != null">
            and i.warehouseid = #{param.warehouseid,jdbcType=CHAR}
        </if>
        <if test="param.categoryid != null">
            and m.categoryid = #{param.categoryid,jdbcType=CHAR}
        </if>
        <if test="param.supplierid != null">
            and m.supplier = #{param.supplierid,jdbcType=CHAR}
        </if>
        <if test="param.ischeck != null">
            and sp.materialid is not null
        </if>
        <if test="param.myself != null">
            and m.owner = #{param.myself,jdbcType=CHAR}
        </if>
        <if test="param.sku != null">
            and m.sku = #{param.sku,jdbcType=CHAR}
        </if>
        <if test="param.searchsku != null">
            and
            <foreach collection="param.searchsku" item="sku" index="i" open="(" separator="or" close=" )">
                m.sku = #{sku,jdbcType=CHAR}
            </foreach>
        </if>

    </select>
    <select id="findByCondition" resultType="java.util.Map"  >
        SELECT p.location image,
               m.name,
               f.`name` platformname,
               o.sku,
               max(o.opttime) opttime,
               max(o.platform_id) platform_id,
               sum(o.quantity) quantity,
               sum(o.price) price,
               sum(o.ship_fee) ship_fee,
               sum(o.referral_fee) referral_fee,
               sum(o.referral_rate) referral_rate ,
               sum(ifnull(o.price,0)-ifnull(o.ship_fee,0)-ifnull(o.referral_fee,0)-ifnull(m.price,0)*ifnull(o.quantity,0)) profit,
               sum(ifnull(o.price,0)-ifnull(o.ship_fee,0)-ifnull(o.referral_fee,0)-ifnull(m.price,0)*ifnull(o.quantity,0))/sum(ifnull(o.price,1)) profit_rate
               from t_erp_order o
           LEFT JOIN t_erp_order_platform f ON f.id=o.platform_id
           LEFT JOIN t_erp_material m ON m.sku=o.sku AND m.shopid=o.shopid AND m.isDelete=0
           LEFT JOIN t_picture p ON p.id=m.image
        where o.shopid=#{param.shopid,jdbcType=CHAR}
        <if test="param.platformid!=null and param.platformid!=''">
            AND o.platform_id=#{param.platformid,jdbcType=CHAR}
        </if>
        <if test="param.warehouseid!=null and param.warehouseid!=''">
            AND o.warehouseid=#{param.warehouseid,jdbcType=CHAR}
        </if>
        <if test="param.id!=null and param.id!=''">
            AND o.id=#{param.id,jdbcType=CHAR}
        </if>
        <if test="param.sku!=null">
            AND o.sku like #{param.sku,jdbcType=CHAR}
        </if>
        GROUP BY o.platform_id,o.sku
    </select>
</mapper>