<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.quote.purchase.mapper.PurchaseOrderEntryMapper">

    <resultMap id="BaseResultMap" type="com.wimoor.quote.purchase.pojo.entity.PurchaseOrderEntry">
            <id property="id" column="id" />
            <result property="number" column="number" />
            <result property="materialid" column="materialid" />
            <result property="itemprice" column="itemprice" />
            <result property="orderprice" column="orderprice" />
            <result property="sku" column="sku" />
            <result property="image" column="image" />
            <result property="name" column="name" />
            <result property="warehousename" column="warehousename" />
            <result property="length" column="length" />
            <result property="width" column="width" />
            <result property="height" column="height" />
            <result property="weight" column="weight" />
            <result property="audittime" column="audittime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,number,materialid,itemprice,orderprice,sku,
        image,name,warehousename,length,width,
        height,weight,audittime
    </sql>
</mapper>
