<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
div
{
 
    padding-top:60px;
    border-radius:10px;
    font-size:22px;
    width: 300px;
    height: 100px;
    background-color: #f9b758;
    box-shadow: 5px 5px 5px #ab9856;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
}
</style>
</head>
<body>

<div class="docx-callout-block">出错了!请联系管理员</div>
</body>
</html>