<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.finance.ledger.mapper.FinGeneralLedgerMapper">
    
    <resultMap type="com.wimoor.finance.ledger.domain.FinGeneralLedger" id="FinGeneralLedgerResult">
        <result property="ledgerId"    column="ledger_id"    />
        <result property="groupid"    column="groupid"    />
        <result property="subjectId"    column="subject_id"    />
        <result property="period"    column="period"    />
        <result property="beginBalance"    column="begin_balance"    />
        <result property="beginDirection"    column="begin_direction"    />
        <result property="debitTotal"    column="debit_total"    />
        <result property="creditTotal"    column="credit_total"    />
        <result property="endBalance"    column="end_balance"    />
        <result property="endDirection"    column="end_direction"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectFinGeneralLedgerVo">
        select ledger_id, groupid, subject_id, period, begin_balance, begin_direction, debit_total, credit_total, end_balance, end_direction, created_time, updated_time from fin_general_ledger
    </sql>

    <select id="selectFinGeneralLedgerList" parameterType="com.wimoor.finance.ledger.domain.FinGeneralLedger" resultMap="FinGeneralLedgerResult">
        <include refid="selectFinGeneralLedgerVo"/>
        <where>  
             and groupid = #{groupid}
            <if test="subjectId != null  and subjectId != ''"> and subject_id = #{subjectId}</if>
            <if test="period != null  and period != ''"> and period = #{period}</if>
            <if test="beginBalance != null "> and begin_balance = #{beginBalance}</if>
            <if test="beginDirection != null "> and begin_direction = #{beginDirection}</if>
            <if test="debitTotal != null "> and debit_total = #{debitTotal}</if>
            <if test="creditTotal != null "> and credit_total = #{creditTotal}</if>
            <if test="endBalance != null "> and end_balance = #{endBalance}</if>
            <if test="endDirection != null "> and end_direction = #{endDirection}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>

    <select id="selectList" parameterType="com.wimoor.finance.ledger.domain.dto.FinLedgerDTO" resultType="java.util.Map">
        select fgl.ledger_id ledgerId,
               fgl.groupid,
               fgl.subject_id subjectId,
               s.subject_name  subjectName,
               fgl.period,
               fgl.begin_balance beginBalance,
               fgl.begin_direction beginDirection,
               fgl.debit_total debitTotal, fgl.credit_total creditTotal,
               fgl.end_balance endBalance, fgl.end_direction endDirection,
               fgl.created_time createdTime,
               fgl.updated_time
        from fin_general_ledger fgl
        left join fin_accounting_subjects s on s.subject_id=fgl.subject_id
        <where>
            and fgl.groupid = #{groupid}
            AND fgl.period &gt;= #{startPeriod} AND fgl.period &lt;= #{endPeriod}
            <if test="subjectId != null  and subjectId != ''"> and fgl.subject_id = #{subjectId}</if>
            <if test="period != null  and period != ''"> and fgl.period = #{period}</if>
        </where>
    </select>


    <select id="selectFinGeneralLedgerByLedgerId" parameterType="Long" resultMap="FinGeneralLedgerResult">
        <include refid="selectFinGeneralLedgerVo"/>
        where ledger_id = #{ledgerId}
    </select>

    <select id="selectBySubjectAndPeriod" resultMap="FinGeneralLedgerResult">
        <include refid="selectFinGeneralLedgerVo"/>
        where subject_id = #{subjectId} and period = #{period} and groupid = #{groupid}
    </select>

    <select id="selectBySubjectCodeAndPeriod" resultMap="FinGeneralLedgerResult">
        select d.ledger_id, d.groupid, d.subject_id, d.period, d.begin_balance, d.begin_direction,
               d.debit_total, d.credit_total, d.end_balance, d.end_direction, d.created_time, d.updated_time
        from fin_general_ledger d
        left join fin_accounting_subjects s on d.subject_id = s.subject_id and d.groupid = s.groupid
        where s.subject_code = #{subjectCode} and d.period = #{period} and d.groupid = #{groupid}
    </select>

    <select id="selectBalanceSummaryByType" resultType="java.util.Map">
        select d.subject_id, d.period, d.begin_balance, d.begin_direction,
               d.debit_total, d.credit_total, d.end_balance, d.end_direction
        from fin_general_ledger d
        where d.groupid = #{groupid} and d.period = #{period}
    </select>
    <select id="getAllSubjectBalance" resultType="java.util.Map">
        select s.subject_code subjectCode,
               s.subject_name subjectName,
               s.subject_level subjectLevel,
               s.subject_type subjectType,
               d.period,
               d.begin_balance beginBalance,
               d.begin_direction beginDirection,
               d.debit_total debitTotal,
               d.credit_total creditTotal,
               d.end_balance endBalance,
               d.end_direction endDirection
        from fin_accounting_subjects s
        left join fin_general_ledger d on s.subject_id=d.subject_id and s.groupid=d.groupid and d.period = #{period}
        where s.groupid = #{groupid}
    </select>


    <insert id="insertFinGeneralLedger" parameterType="com.wimoor.finance.ledger.domain.FinGeneralLedger" useGeneratedKeys="true" keyProperty="ledgerId">
        insert into fin_general_ledger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupid != null">groupid,</if>
            <if test="subjectId != null">subject_id,</if>
            <if test="period != null and period != ''">period,</if>
            <if test="beginBalance != null">begin_balance,</if>
            <if test="beginDirection != null">begin_direction,</if>
            <if test="debitTotal != null">debit_total,</if>
            <if test="creditTotal != null">credit_total,</if>
            <if test="endBalance != null">end_balance,</if>
            <if test="endDirection != null">end_direction,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupid != null">#{groupid},</if>
            <if test="subjectId != null">#{subjectId},</if>
            <if test="period != null and period != ''">#{period},</if>
            <if test="beginBalance != null">#{beginBalance},</if>
            <if test="beginDirection != null">#{beginDirection},</if>
            <if test="debitTotal != null">#{debitTotal},</if>
            <if test="creditTotal != null">#{creditTotal},</if>
            <if test="endBalance != null">#{endBalance},</if>
            <if test="endDirection != null">#{endDirection},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateFinGeneralLedger" parameterType="com.wimoor.finance.ledger.domain.FinGeneralLedger">
        update fin_general_ledger
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupid != null">groupid = #{groupid},</if>
            <if test="subjectId != null">subject_id = #{subjectId},</if>
            <if test="period != null and period != ''">period = #{period},</if>
            <if test="beginBalance != null">begin_balance = #{beginBalance},</if>
            <if test="beginDirection != null">begin_direction = #{beginDirection},</if>
            <if test="debitTotal != null">debit_total = #{debitTotal},</if>
            <if test="creditTotal != null">credit_total = #{creditTotal},</if>
            <if test="endBalance != null">end_balance = #{endBalance},</if>
            <if test="endDirection != null">end_direction = #{endDirection},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where ledger_id = #{ledgerId}
    </update>

    <delete id="deleteFinGeneralLedgerByLedgerId" parameterType="Long">
        delete from fin_general_ledger where ledger_id = #{ledgerId}
    </delete>

    <delete id="deleteFinGeneralLedgerByLedgerIds" parameterType="String">
        delete from fin_general_ledger where ledger_id in 
        <foreach item="ledgerId" collection="array" open="(" separator="," close=")">
            #{ledgerId}
        </foreach>
    </delete>
    <delete id="deleteByPeriod">
        delete from fin_general_ledger where groupid = #{groupid} and period = #{period}
    </delete>

    <select id="selectByPeriod" resultMap="FinGeneralLedgerResult">
        <include refid="selectFinGeneralLedgerVo"/>
        where groupid = #{groupid} and period = #{period}
    </select>

    <!-- 查询顶级科目总账汇总 -->
    <select id="selectTopLevelSummary" parameterType="com.wimoor.finance.ledger.domain.dto.FinLedgerDTO" resultType="java.util.Map">
        SELECT
            top_subject.subject_id as subjectId,
            top_subject.subject_code as subjectCode,
            top_subject.subject_name as subjectName,
            fgl.period as period,
            IFNULL(SUM(fgl.begin_balance), 0) as beginBalance,
            CASE 
                WHEN SUM(fgl.begin_balance) > 0 THEN 1
                WHEN SUM(fgl.begin_balance) &lt; 0 THEN 2
                ELSE 0
            END as beginDirection,
            IFNULL(SUM(fgl.debit_total), 0) as debitTotal,
            IFNULL(SUM(fgl.credit_total), 0) as creditTotal,
            IFNULL(SUM(fgl.end_balance), 0) as endBalance,
            CASE 
                WHEN SUM(fgl.end_balance) > 0 THEN 1
                WHEN SUM(fgl.end_balance) &lt; 0 THEN 2
                ELSE 0
            END as endDirection
        FROM fin_accounting_subjects top_subject
        INNER JOIN fin_accounting_subjects child_subject 
            ON child_subject.groupid = top_subject.groupid 
            AND child_subject.subject_code LIKE CONCAT(top_subject.subject_code, '%')
        LEFT JOIN fin_general_ledger fgl 
            ON fgl.subject_id = child_subject.subject_id 
            AND fgl.groupid = top_subject.groupid
            AND fgl.period &gt;= #{startPeriod} AND fgl.period &lt;= #{endPeriod}
        WHERE top_subject.groupid = #{groupid}
          AND (top_subject.parent_code IS NULL OR top_subject.parent_code = '' OR top_subject.subject_level = 1)
          <if test="subjectCodes != null and subjectCodes != ''">
            AND top_subject.subject_code IN
            <foreach item="code" collection="subjectCodes.split(',')" open="(" separator="," close=")">
              #{code}
            </foreach>
          </if>
        GROUP BY top_subject.subject_id, top_subject.subject_code, top_subject.subject_name, fgl.period
        HAVING SUM(fgl.debit_total) IS NOT NULL 
           OR SUM(fgl.credit_total) IS NOT NULL 
           OR SUM(fgl.end_balance) IS NOT NULL
        ORDER BY top_subject.subject_code, fgl.period
    </select>

    <!-- 查询指定期间的顶级科目总账汇总 -->
    <select id="selectTopLevelSummaryByPeriod" resultType="java.util.Map">
        SELECT
            top_subject.subject_id as subjectId,
            top_subject.subject_code as subjectCode,
            top_subject.subject_name as subjectName,
            fgl.period as period,
            IFNULL(SUM(fgl.begin_balance), 0) as beginBalance,
            CASE 
                WHEN SUM(fgl.begin_balance) > 0 THEN 1
                WHEN SUM(fgl.begin_balance) &lt; 0 THEN 2
                ELSE 0
            END as beginDirection,
            IFNULL(SUM(fgl.debit_total), 0) as debitTotal,
            IFNULL(SUM(fgl.credit_total), 0) as creditTotal,
            IFNULL(SUM(fgl.end_balance), 0) as endBalance,
            CASE 
                WHEN SUM(fgl.end_balance) > 0 THEN 1
                WHEN SUM(fgl.end_balance) &lt; 0 THEN 2
                ELSE 0
            END as endDirection
        FROM fin_accounting_subjects top_subject
        INNER JOIN fin_accounting_subjects child_subject 
            ON child_subject.groupid = top_subject.groupid 
            AND child_subject.subject_code LIKE CONCAT(top_subject.subject_code, '%')
        INNER JOIN fin_general_ledger fgl 
            ON fgl.subject_id = child_subject.subject_id 
            AND fgl.groupid = top_subject.groupid
            AND fgl.period = #{period}
        WHERE top_subject.groupid = #{groupid}
          AND (top_subject.parent_code IS NULL OR top_subject.parent_code = '' OR top_subject.subject_level = 1)
        GROUP BY top_subject.subject_id, top_subject.subject_code, top_subject.subject_name, fgl.period
        HAVING SUM(fgl.end_balance) IS NOT NULL AND SUM(fgl.end_balance) != 0
        ORDER BY top_subject.subject_code, fgl.period
    </select>

    <!-- 查询日期范围内有余额的顶级科目总账汇总（取最新一期的期末余额） -->
    <select id="selectTopLevelSummaryByDateRange" resultType="java.util.Map">
        SELECT 
            t.subjectId,
            t.subjectCode,
            t.subjectName,
            t.period,
            t.endBalance,
            t.endDirection
        FROM (
            SELECT
                top_subject.subject_id as subjectId,
                top_subject.subject_code as subjectCode,
                top_subject.subject_name as subjectName,
                fgl.period as period,
                IFNULL(SUM(fgl.end_balance), 0) as endBalance,
                CASE 
                    WHEN SUM(fgl.end_balance) > 0 THEN 1
                    WHEN SUM(fgl.end_balance) &lt; 0 THEN 2
                    ELSE 0
                END as endDirection,
                ROW_NUMBER() OVER (PARTITION BY top_subject.subject_id ORDER BY fgl.period DESC) as rn
            FROM fin_accounting_subjects top_subject
            INNER JOIN fin_accounting_subjects child_subject 
                ON child_subject.groupid = top_subject.groupid 
                AND child_subject.subject_code LIKE CONCAT(top_subject.subject_code, '%')
            INNER JOIN fin_general_ledger fgl 
                ON fgl.subject_id = child_subject.subject_id 
                AND fgl.groupid = top_subject.groupid
                AND fgl.period &gt;= #{startPeriod} AND fgl.period &lt;= #{endPeriod}
            WHERE top_subject.groupid = #{groupid}
              AND (top_subject.parent_code IS NULL OR top_subject.parent_code = '' OR top_subject.subject_level = 1)
            GROUP BY top_subject.subject_id, top_subject.subject_code, top_subject.subject_name, fgl.period
            HAVING IFNULL(SUM(fgl.end_balance), 0) != 0
        ) t
        WHERE t.rn = 1
        ORDER BY t.subjectCode
    </select>

    <!-- 查询日期范围内的累计借方和贷方发生额 -->
    <select id="selectCumulativeDebitCredit" resultType="java.util.Map">
        SELECT
            top_subject.subject_id as subjectId,
            top_subject.subject_code as subjectCode,
            IFNULL(SUM(fgl.debit_total), 0) as cumulativeDebit,
            IFNULL(SUM(fgl.credit_total), 0) as cumulativeCredit
        FROM fin_accounting_subjects top_subject
        INNER JOIN fin_accounting_subjects child_subject 
            ON child_subject.groupid = top_subject.groupid 
            AND child_subject.subject_code LIKE CONCAT(top_subject.subject_code, '%')
        INNER JOIN fin_general_ledger fgl 
            ON fgl.subject_id = child_subject.subject_id 
            AND fgl.groupid = top_subject.groupid
            AND fgl.period &gt;= #{startPeriod} AND fgl.period &lt;= #{endPeriod}
        WHERE top_subject.groupid = #{groupid}
          AND (top_subject.parent_code IS NULL OR top_subject.parent_code = '' OR top_subject.subject_level = 1)
        GROUP BY top_subject.subject_id, top_subject.subject_code
        ORDER BY top_subject.subject_code
    </select>

    <!-- 按租户删除所有总账记录 -->
    <delete id="deleteAllByGroupid">
        DELETE FROM fin_general_ledger WHERE groupid = #{groupid}
    </delete>

    <!-- 从凭证分录汇总各科目各期间的借贷发生额（实时过账模式：所有凭证都参与） -->
    <select id="sumEntriesBySubjectAndPeriod" resultType="java.util.Map">
        SELECT
            e.subject_id AS subjectId,
            DATE_FORMAT(v.voucher_date, '%Y%m') AS period,
            IFNULL(SUM(e.debit_amount), 0) AS debitTotal,
            IFNULL(SUM(e.credit_amount), 0) AS creditTotal
        FROM fin_voucher_entries e
        INNER JOIN fin_vouchers v ON e.voucher_id = v.voucher_id
        WHERE e.groupid = #{groupid}
        GROUP BY e.subject_id, DATE_FORMAT(v.voucher_date, '%Y%m')
        ORDER BY e.subject_id, period
    </select>
</mapper>