<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.ship.mapper.ShipTransCompayFormMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.erp.ship.pojo.entity.ShipTransCompayForm" >
    <id column="shipmentid" property="shipmentid" jdbcType="CHAR" />
    <result column="shopid" property="shopid" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <result column="refreshtime" property="refreshtime" jdbcType="TIMESTAMP" />
    <result column="creattime" property="creattime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    shipmentid, shopid, content, result, refreshtime, creattime, operator
  </sql>
  
</mapper>