<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.amazon.product.mapper.MerchantShippingGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.amazon.product.pojo.entity.MerchantShippingGroup">
        <id column="id" property="id" />
        <result column="amazonauthid" property="amazonauthid" />
        <result column="marketplaceid" property="marketplaceid" />
        <result column="name" property="name" />
    </resultMap>

</mapper>
