<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.amazon.product.mapper.ProductInAutopriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.amazon.product.pojo.entity.ProductInAutoprice">
        <result column="pid" property="pid" />
        <result column="ftype" property="ftype" />
        <result column="lowestprice" property="lowestprice" />
        <result column="disable" property="disable" />
        <result column="buybox_lowest_first" property="buyboxLowestFirst" />
        <result column="buybox_lowest_next" property="buyboxLowestNext" />
        <result column="down_step_price" property="downStepPrice" />
        <result column="down_step_rate" property="downStepRate" />
        <result column="up_step_price" property="upStepPrice" />
        <result column="operator" property="operator" />
        <result column="creator" property="creator" />
        <result column="opttime" property="opttime" />
        <result column="createtime" property="createtime" />
    </resultMap>

</mapper>
