<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.profit.mapper.FixedClosingFeeMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.profit.pojo.entity.FixedClosingFee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="format" property="format" jdbcType="CHAR" />
    <result column="category" property="category" jdbcType="CHAR" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="country" property="country" jdbcType="CHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
  </resultMap>
  
    <select id="findByCountry" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select * from t_fixed_closingfee 
    where country = #{country,jdbcType=CHAR} order by sort;
  </select>
  
  <sql id="Base_Column_List" >
    id, format, category, fee, country, sort
  </sql>
   
   
</mapper>