<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.profit.mapper.IndividualFeeMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.profit.pojo.entity.IndividualFee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="country" property="country" jdbcType="CHAR" />
    <result column="perItemFee" property="peritemfee" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, country, perItemFee
  </sql>
   <select id="getByCountry" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_individualfee
    where country = #{country,jdbcType=CHAR}
  </select>
</mapper>