<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.profit.mapper.InventoryStorageFeeMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.profit.pojo.entity.InventoryStorageFee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="country" property="country" jdbcType="CHAR" />
    <result column="isStandard" property="isstandard" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, month, price, country, isStandard
  </sql>
  <select id="getInventoryStorageFeeByCountry" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_inventorystoragefee
    where country = #{country,jdbcType=CHAR}
  </select>
   <select id="getPriceByCountry" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_inventorystoragefee
    where country = #{country,jdbcType=CHAR} and month like #{month,jdbcType=VARCHAR} and isStandard=#{isStandard,jdbcType=BIT}
  </select>
</mapper>