<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.finance.setting.mapper.FinInitDataMapper">
    <sql id="initFinAuxiliaryTypes">
        INSERT IGNORE INTO fin_auxiliary_types
            (groupid, type_code, type_name)
            VALUES
            -- 组织架构类
            (#{groupId}, 'DEPT', '部门'),
        (#{groupId}, 'EMPLOYEE', '员工'),
        (#{groupId}, 'COST_CENTER', '成本中心'),
        -- 业务伙伴类
        (#{groupId}, 'CUSTOMER', '客户'),
        (#{groupId}, 'SUPPLIER', '供应商'),
        -- 项目管理类
        (#{groupId}, 'PROJECT', '项目'),
        (#{groupId}, 'CONTRACT', '合同'),
        -- 财务核算类
        (#{groupId}, 'BANK_ACCOUNT', '银行账户'),
        (#{groupId}, 'CASH_FLOW_ITEM', '现金流量项目');
    </sql>

    <sql id="initCurrency">
        INSERT IGNORE INTO `fin_currency` (
       `code`, `groupid`,`name`,`rate`,`islocal`, `create_by`,`created_time`,`updated_time`
        ) VALUES ('CNY',#{groupId},'人民币',1.000000,b'1','SYSTEM',NOW(),NOW());
    </sql>

</mapper>