<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.feishu.mapper.AuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.feishu.pojo.entity.Auth">
        <result column="app_id" property="appId" />
        <result column="app_secret" property="appSecret" />
        <result column="encrypt_key" property="encryptKey" />
        <result column="verification_token" property="verificationToken" />
    </resultMap>

</mapper>
