<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.adv.common.dao.ExchangeRateCustomerMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.adv.common.pojo.ExchangeRateCustomer" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shopid" property="shopid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="utctime" property="utctime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shopid, name, price, symbol, type, utctime, operator
  </sql>
  
   <select id="getMyExchangeRate" resultType="java.util.Map" parameterType="java.lang.String" >
    select 
    ifnull(tc.id,'') id,
    te.name,
    te.price ,
    tc.price myprice,
    te.symbol
    from t_exchangerate te
    left join  t_exchangerate_customer tc on te.name=tc.name and tc.shopid = #{shopid,jdbcType=CHAR}
  </select>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_exchangerate_customer
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_exchangerate_customer
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.plum.frame.pojo.ExchangeRateCustomer" >
    insert into t_exchangerate_customer (id, shopid, name, 
      price, symbol, type, 
      utctime, volume)
    values (#{id,jdbcType=BIGINT}, #{shopid,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, 
      #{price,jdbcType=DECIMAL}, #{symbol,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{utctime,jdbcType=TIMESTAMP}, #{volume,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.plum.frame.pojo.ExchangeRateCustomer" >
    insert into t_exchangerate_customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopid != null" >
        shopid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="symbol != null" >
        symbol,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="utctime != null" >
        utctime,
      </if>
      <if test="volume != null" >
        volume,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="symbol != null" >
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="utctime != null" >
        #{utctime,jdbcType=TIMESTAMP},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.plum.frame.pojo.ExchangeRateCustomer" >
    update t_exchangerate_customer
    <set >
      <if test="shopid != null" >
        shopid = #{shopid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="symbol != null" >
        symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="utctime != null" >
        utctime = #{utctime,jdbcType=TIMESTAMP},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.plum.frame.pojo.ExchangeRateCustomer" >
    update t_exchangerate_customer
    set shopid = #{shopid,jdbcType=BIGINT},
      name = #{name,jdbcType=CHAR},
      price = #{price,jdbcType=DECIMAL},
      symbol = #{symbol,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      utctime = #{utctime,jdbcType=TIMESTAMP},
      volume = #{volume,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update> -->
</mapper>