<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.erp.stock.mapper.OutwhFormConsumableMapper">

    <resultMap id="BaseResultMap" type="com.wimoor.erp.stock.pojo.entity.OutwhFormConsumable">
            <id property="id" column="id" />
            <result property="submid" column="submid" />
            <result property="mainmid" column="mainmid" />
            <result property="units" column="units" />
            <result property="shipqty" column="shipqty" />
            <result property="subout" column="subout" />
    </resultMap>

    <sql id="Base_Column_List">
        id,submid,mainmid,units,shipqty,subout
    </sql>
</mapper>
