<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.erp.stock.mapper.StocktakingShelfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.erp.stock.pojo.entity.StocktakingShelf">
        <id column="stocktakingid" property="stocktakingid" />
        <result column="shelfid" property="shelfid" />
    </resultMap>

</mapper>
