<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.quote.mapper.ShipmentDestinationAddressMapper" >
    <resultMap id="BaseResultMap" type="com.wimoor.quote.api.entity.ShipmentDestinationAddress" >
        <result column="id" property="id" jdbcType="CHAR" />
        <result column="buyerid" property="buyerid" jdbcType="CHAR" />
        <result column="ftype" property="ftype" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>


</mapper>