<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.quote.ship.mapper.ShipmentMapper" >
    <resultMap id="BaseResultMap" type="com.wimoor.quote.ship.pojo.entity.Shipment" >
        <result column="id" property="id" jdbcType="CHAR" />
        <result column="buyerid" property="buyerid" jdbcType="CHAR" />
        <result column="ftype" property="ftype" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
<select id="findByCondition" parameterType="com.wimoor.quote.api.dto.QuoteDTO" resultType="com.wimoor.quote.ship.pojo.entity.Shipment">
            select s.* from t_shipment s
            where s.buyerid=#{param.buyerid,jdbcType=CHAR}
            <if test="param.status==6">
                and  status=6
            </if>
            <if test="param.status==5">
                and  status=5
            </if>
            <if test="param.status==0">
                and  status=0
            </if>
            <if test="param.status==1">
                and  status=1
            </if>
            <if test="param.fromDate != null">
                and s.opttime &gt;= #{param.fromDate,jdbcType=DATE}
            </if>
            <if test="param.toDate != null">
                and s.opttime &lt;= #{param.toDate,jdbcType=DATE}
            </if>
            <if test="param.search!=null and param.search!=''">
                 and (s.name like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.number like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.destination like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.country like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.shipmentid like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.groupname like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.warehousename like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or s.remark like concat('%',#{param.search,jdbcType=CHAR},'%')
                       or exists(select * from t_order o left join t_order_shipment so on o.id=so.orderid where so.shipmentid=s.shipmentid and o.number like concat('%',#{param.search,jdbcType=CHAR},'%'))
                       or exists(select * from t_shipment_item i where i.shipmentid=s.shipmentid and i.sku like concat('%',#{param.search,jdbcType=CHAR},'%'))
                 )
             </if>
    <if test="param.numbers!=null">
        and s.number in
        <foreach collection="param.numbers" item="number" index="index" open="(" close=")" separator=",">
            #{number,jdbcType=CHAR}
        </foreach>
    </if>
    <if test="param.shipmentids!=null">
        and s.shipmentid in
        <foreach collection="param.shipmentids" item="shipmentid" index="index" open="(" close=")" separator=",">
            #{shipmentid,jdbcType=CHAR}
        </foreach>
    </if>
    <if test="param.groupname!=null and param.groupname!=''">
        and s.groupname like concat('%',#{param.groupname,jdbcType=CHAR},'%')
    </if>
    <if test="param.country!=null and param.country!=''">
        and s.country like concat('%',#{param.country,jdbcType=CHAR},'%')
    </if>
    <if test="param.warehousename!=null and param.warehousename!=''">
        and s.warehousename like concat('%',#{param.warehousename,jdbcType=CHAR},'%')
    </if>
    <if test="param.remark!=null and param.remark!=''">
        and s.remark like concat('%',#{param.remark,jdbcType=CHAR},'%')
    </if>
</select>


</mapper>