<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.assembly.mapper.AssemblyEntryInstockMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.erp.assembly.pojo.entity.AssemblyEntryInstock" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="formid" property="formid" jdbcType="CHAR" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="opttime" property="opttime" jdbcType="TIMESTAMP" />
    <result column="warehouseid" property="warehouseid" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, formid, amount, remark, operator, opttime,warehouseid
  </sql>
	  <select id="selectByFormId" resultType="java.util.Map" parameterType="java.lang.String" >
	  	select t.*,ui.name name from t_erp_assembly_from_instock t 
		left join t_userinfo ui on ui.id=t.operator
		where t.formid =#{formid,jdbcType=CHAR};
	  </select>
  
  	<select id="findhasAssemblyFormNum" resultType="java.lang.Integer" parameterType="java.lang.String">
		SELECT count(0) from  t_erp_assembly_from_instock s
		where s.shipmentid=#{shipmentid,jdbcType=CHAR} 
	</select>
    <select id="findProcessHandle" resultType="java.util.Map" parameterType="java.util.Map">
			    
			SELECT DATE_FORMAT(r.opttime,'%Y-%m-%d') byday,
			MAX(w.name) warheousename,
			MAX(m.sku) sku,
			max(m.name) name,
			SUM(r.quantity) handle,
			'辅料打包' ftype,
			SUM(r.quantity)*SUM(c.amount) handlesub,
			MAX(c.num) num,
			MAX(c.sub) sub
			  from t_erp_inventory_record r
			LEFT JOIN t_erp_warehouse w ON w.id=r.warehouseid
			LEFT JOIN t_erp_material m  ON m.id=r.materialid
			LEFT JOIN 
					(SELECT materialid, COUNT(0) num ,SUM(amount) amount ,GROUP_CONCAT(m.sku,'*',a.amount) sub 
					from t_erp_material_consumable a
					LEFT JOIN t_erp_material m ON m.id=a.submaterialid
					GROUP BY materialid) c ON 
			   c.materialid=m.id
			WHERE r.shopid=#{shopid,jdbcType=CHAR} AND m.issfg IN (0,2)
			AND c.num>0
			AND `status`='outbound'
			AND formtype='outstockform'
			AND r.opttime>=#{fromdate,jdbcType=CHAR}
			AND r.opttime&lt;=#{enddate,jdbcType=CHAR}
			GROUP BY r.materialid,DATE_FORMAT(r.opttime,'%Y-%m-%d')
			UNION all
			SELECT 
			DATE_FORMAT(f.opttime,'%Y-%m-%d') byday,
			max(w.name) warehousename,
			MAX(m.sku) sku,
			max(m.name) name,
			sum(f.amount_handle) handle,
			'组装' ftype,
			SUM(f.amount_handle)*SUM(e.amount) handlesub,
			MAX(e.num) num,
			MAX(e.sub) sub
			FROM  t_erp_assembly_from_instock it
			left join t_erp_assembly_form f ON f.id=it.formid
			LEFT JOIN t_erp_material m ON m.id=f.mainmid
			LEFT JOIN t_erp_warehouse w ON w.id=f.warehouseid
			LEFT JOIN (SELECT mainmid,SUM(subnumber) amount,COUNT(0) num,GROUP_CONCAT(m.sku,'*',a.subnumber) sub 
						FROM  t_erp_assembly a
						LEFT JOIN t_erp_material m ON m.id=a.submid
						GROUP BY mainmid
			) e ON e.mainmid=f.mainmid
			WHERE f.shopid=#{shopid,jdbcType=CHAR}
			AND f.opttime>=#{fromdate,jdbcType=CHAR}
			AND f.opttime&lt;=#{enddate,jdbcType=CHAR}
			AND f.ftype='ass'
			GROUP BY f.mainmid,DATE_FORMAT(f.opttime,'%Y-%m-%d')
			 
    </select>
</mapper>