<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.inventory.mapper.InventoryRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.erp.inventory.pojo.entity.InventoryRecord" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="shopid" property="shopid" jdbcType="CHAR" />
    <result column="warehouseid" property="warehouseid" jdbcType="CHAR" />
    <result column="materialid" property="materialid" jdbcType="CHAR" />
    <result column="inbound" property="inbound" jdbcType="INTEGER" />
    <result column="outbound" property="outbound" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="formid" property="formid" jdbcType="CHAR" />
    <result column="formtype" property="formtype" jdbcType="CHAR" />
    <result column="operate" property="operate" jdbcType="CHAR" />
    <result column="number" property="number" jdbcType="CHAR" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="formoptid" property="formoptid" jdbcType="CHAR" />
    <result column="opttime" property="opttime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shopid, warehouseid, materialid, inbound, outbound, amount, formid, formtype,  
    operate,number, operator, opttime,formoptid
  </sql>
<!--   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_erp_inventory_record
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_erp_inventory_record
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.wimoor.erp.pojo.entity.InventoryRecord" >
    insert into t_erp_inventory_record (id, shopid, warehouse, 
      material, inbound, outbound, 
      amount, formid, formtype, 
      disable, isin, operator, opttime
      )
    values (#{id,jdbcType=CHAR}, #{shopid,jdbcType=CHAR}, #{warehouse,jdbcType=CHAR}, 
      #{material,jdbcType=CHAR}, #{inbound,jdbcType=INTEGER}, #{outbound,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{formid,jdbcType=CHAR}, #{formtype,jdbcType=CHAR}, 
      #{disable,jdbcType=BIT}, #{isin,jdbcType=BIT}, #{operator,jdbcType=CHAR}, #{opttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wimoor.erp.pojo.entity.InventoryRecord" >
    insert into t_erp_inventory_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopid != null" >
        shopid,
      </if>
      <if test="warehouse != null" >
        warehouse,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="inbound != null" >
        inbound,
      </if>
      <if test="outbound != null" >
        outbound,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="formid != null" >
        formid,
      </if>
      <if test="formtype != null" >
        formtype,
      </if>
      <if test="disable != null" >
        disable,
      </if>
      <if test="isin != null" >
        isin,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="opttime != null" >
        opttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="shopid != null" >
        #{shopid,jdbcType=CHAR},
      </if>
      <if test="warehouse != null" >
        #{warehouse,jdbcType=CHAR},
      </if>
      <if test="material != null" >
        #{material,jdbcType=CHAR},
      </if>
      <if test="inbound != null" >
        #{inbound,jdbcType=INTEGER},
      </if>
      <if test="outbound != null" >
        #{outbound,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="formid != null" >
        #{formid,jdbcType=CHAR},
      </if>
      <if test="formtype != null" >
        #{formtype,jdbcType=CHAR},
      </if>
      <if test="disable != null" >
        #{disable,jdbcType=BIT},
      </if>
      <if test="isin != null" >
        #{isin,jdbcType=BIT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=CHAR},
      </if>
      <if test="opttime != null" >
        #{opttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wimoor.erp.pojo.entity.InventoryRecord" >
    update t_erp_inventory_record
    <set >
      <if test="shopid != null" >
        shopid = #{shopid,jdbcType=CHAR},
      </if>
      <if test="warehouse != null" >
        warehouse = #{warehouse,jdbcType=CHAR},
      </if>
      <if test="material != null" >
        material = #{material,jdbcType=CHAR},
      </if>
      <if test="inbound != null" >
        inbound = #{inbound,jdbcType=INTEGER},
      </if>
      <if test="outbound != null" >
        outbound = #{outbound,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="formid != null" >
        formid = #{formid,jdbcType=CHAR},
      </if>
      <if test="formtype != null" >
        formtype = #{formtype,jdbcType=CHAR},
      </if>
      <if test="disable != null" >
        disable = #{disable,jdbcType=BIT},
      </if>
      <if test="isin != null" >
        isin = #{isin,jdbcType=BIT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=CHAR},
      </if>
      <if test="opttime != null" >
        opttime = #{opttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wimoor.erp.pojo.entity.InventoryRecord" >
    update t_erp_inventory_record
    set shopid = #{shopid,jdbcType=CHAR},
      warehouse = #{warehouse,jdbcType=CHAR},
      material = #{material,jdbcType=CHAR},
      inbound = #{inbound,jdbcType=INTEGER},
      outbound = #{outbound,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      formid = #{formid,jdbcType=CHAR},
      formtype = #{formtype,jdbcType=CHAR},
      disable = #{disable,jdbcType=BIT},
      isin = #{isin,jdbcType=BIT},
      operator = #{operator,jdbcType=CHAR},
      opttime = #{opttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update> -->
  <!-- 确认当前SKU对应的库存信息记录 -->

</mapper>