<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.adv.sb.dao.AmzAdvAdsAsinHsaMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.adv.sb.pojo.AmzAdvAdsAsinHsa" >
    <id column="adid" property="adid" jdbcType="BIGINT" />
     <id column="asin" property="asin" jdbcType="CHAR" />
  </resultMap>
   
   
</mapper>