<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.adv.sb.dao.AmzAdvReportAdgroupsHsaAttributedAllMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.adv.sb.pojo.AmzAdvReportAdgroupsHsaAttributedAll" >
    <id column="campaignId" property="campaignid" jdbcType="BIGINT" />
    <id column="bydate" property="bydate" jdbcType="DATE" />
    <result column="profileid" property="profileid" jdbcType="BIGINT" />
    <result column="impressions" property="impressions" jdbcType="INTEGER" />
    <result column="clicks" property="clicks" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />

  </resultMap>
  <sql id="Base_Column_List" >
    campaignId, bydate, profileid, campaignStatus, campaignName, impressions, clicks, 
    cost, currency, attributedConversions1d, attributedConversions7d, attributedConversions14d, 
    attributedConversions30d, attributedConversions1dSameSKU, attributedConversions7dSameSKU, 
    attributedConversions14dSameSKU, attributedConversions30dSameSKU, attributedUnitsOrdered1d, 
    attributedUnitsOrdered7d, attributedUnitsOrdered14d, attributedUnitsOrdered30d, attributedSales1d, 
    attributedSales7d, attributedSales14d, attributedSales30d, attributedSales1dSameSKU, 
    attributedSales7dSameSKU, attributedSales14dSameSKU, attributedSales30dSameSKU
  </sql>
   
   
      <insert id="insertBatch" parameterType="java.util.List">
		replace into t_amz_adv_rpt2_sd_campaigns (
		campaignId, bydate, profileid,   impressions, clicks, 
	    cost,opttime)
		values
		<foreach collection="list" item="adv" index="index" separator=",">
			(
			#{adv.campaignid,jdbcType=BIGINT}, #{adv.bydate,jdbcType=DATE}, #{adv.profileid,jdbcType=BIGINT},
		    #{adv.impressions,jdbcType=INTEGER},#{adv.clicks,jdbcType=INTEGER}, #{adv.cost,jdbcType=DECIMAL}, 
		    #{adv.opttime,jdbcType=DATE}
			)
		</foreach>
	</insert>

	<insert id="insertBatchAttributed" parameterType="java.util.List">
		replace into t_amz_adv_rpt2_sd_campaigns_attributed_all(
		campaignId, bydate,
		`addToCart` ,
		`addToCartClicks` ,
		`addToCartRate` ,
		`addToCartViews` ,
		`addToList` ,
		`addToListFromClicks` ,
		`addToListFromViews` ,
		`qualifiedBorrows` ,
		`qualifiedBorrowsFromClicks` ,
		`qualifiedBorrowsFromViews` ,
		`royaltyQualifiedBorrows` ,
		`royaltyQualifiedBorrowsFromClicks` ,
		`royaltyQualifiedBorrowsFromViews` ,
		`brandedSearches` ,
		`brandedSearchesClicks` ,
		`brandedSearchesViews` ,
		`clickThroughRate` ,
		`campaignBudgetCurrencyCode`,
		`detailPageViews` ,
		`detailPageViewsClicks` ,
		`eCPAddToCart` ,
		`eCPBrandSearch` ,
		`impressionsViews` ,
		`newToBrandPurchases` ,
		`newToBrandPurchasesClicks` ,
		`newToBrandSalesClicks` ,
		`newToBrandUnitsSold` ,
		`newToBrandUnitsSoldClicks` ,
		`purchases`,
		`purchasesClicks` ,
		`purchasesPromotedClicks` ,
		`purchasesViews` ,
		`sales` ,
		`salesClicks` ,
		`salesPromotedClicks` ,
		`unitsSold`,
		`unitsSoldClicks` ,
		`unitsSoldViews` ,
		`videoCompleteViews` ,
		`videoFirstQuartileViews` ,
		`videoMidpointViews` ,
		`videoThirdQuartileViews` ,
		`videoUnmutes` ,
		`viewabilityRate` ,
		`viewClickThroughRate`,
		 `opttime`
		)
		values
		<foreach collection="list" item="adv" index="index" separator=",">
			(
			#{adv.campaignid,jdbcType=BIGINT}, #{adv.bydate,jdbcType=DATE},

			#{adv.addToCart,jdbcType=INTEGER},
			#{adv.addToCartClicks,jdbcType=INTEGER},
			#{adv.addToCartRate,jdbcType=DECIMAL},
			#{adv.addToCartViews,jdbcType=INTEGER},
			#{adv.addToList,jdbcType=INTEGER},
			#{adv.addToListFromClicks,jdbcType=INTEGER},
			#{adv.addToListFromViews,jdbcType=INTEGER},
			#{adv.qualifiedBorrows,jdbcType=INTEGER},
			#{adv.qualifiedBorrowsFromClicks,jdbcType=INTEGER},
			#{adv.qualifiedBorrowsFromViews,jdbcType=INTEGER},
			#{adv.royaltyQualifiedBorrows,jdbcType=INTEGER},
			#{adv.royaltyQualifiedBorrowsFromClicks,jdbcType=INTEGER},
			#{adv.royaltyQualifiedBorrowsFromViews,jdbcType=INTEGER},
			#{adv.brandedSearches,jdbcType=INTEGER},
			#{adv.brandedSearchesClicks,jdbcType=INTEGER},
			#{adv.brandedSearchesViews,jdbcType=INTEGER},
			#{adv.clickThroughRate,jdbcType=DECIMAL},
			#{adv.campaignBudgetCurrencyCode,jdbcType=VARCHAR},
			#{adv.detailPageViews,jdbcType=INTEGER},
			#{adv.detailPageViewsClicks,jdbcType=INTEGER},
			#{adv.eCPAddToCart,jdbcType=DECIMAL},
			#{adv.eCPBrandSearch,jdbcType=DECIMAL},
			#{adv.impressionsViews,jdbcType=INTEGER},
			#{adv.newToBrandPurchases,jdbcType=INTEGER},
			#{adv.newToBrandPurchasesClicks,jdbcType=INTEGER},
			#{adv.newToBrandSalesClicks,jdbcType=INTEGER},
			#{adv.newToBrandUnitsSold,jdbcType=INTEGER},
			#{adv.newToBrandUnitsSoldClicks,jdbcType=INTEGER},
			#{adv.purchases,jdbcType=INTEGER},
			#{adv.purchasesClicks,jdbcType=INTEGER},
			#{adv.purchasesPromotedClicks,jdbcType=INTEGER},
			#{adv.purchasesViews,jdbcType=INTEGER},
			#{adv.sales,jdbcType=DECIMAL},
			#{adv.salesClicks,jdbcType=DECIMAL},
			#{adv.salesPromotedClicks,jdbcType=DECIMAL},
			#{adv.unitsSold,jdbcType=INTEGER},
			#{adv.unitsSoldClicks,jdbcType=INTEGER},
			#{adv.unitsSoldViews,jdbcType=INTEGER},
			#{adv.videoCompleteViews,jdbcType=INTEGER},
			#{adv.videoFirstQuartileViews,jdbcType=INTEGER},
			#{adv.videoMidpointViews,jdbcType=INTEGER},
			#{adv.videoThirdQuartileViews,jdbcType=INTEGER},
			#{adv.videoUnmutes,jdbcType=INTEGER},
			#{adv.viewabilityRate,jdbcType=DECIMAL},
			#{adv.viewClickThroughRate,jdbcType=DECIMAL},
			#{adv.opttime,jdbcType=DATE}
			)
		</foreach>


	</insert>


	<!--   <insert id="insertBatchAttributed" parameterType="java.util.List">-->
<!--		replace into t_amz_adv_rpt2_sd_campaigns_attributed_all(-->
<!--		campaignId, bydate, -->
<!--		attributedConversions1d, -->
<!--		attributedConversions7d, -->
<!--		attributedConversions14d, -->
<!--	    attributedConversions30d, -->
<!--	 -->
<!--	    attributedUnitsOrdered1d, -->
<!--	    attributedUnitsOrdered7d, -->
<!--	    attributedUnitsOrdered14d, -->
<!--	    attributedUnitsOrdered30d, -->
<!--	    -->
<!--	    attributedSales1d, -->
<!--	    attributedSales7d, -->
<!--	    attributedSales14d, -->
<!--	    attributedSales30d-->
<!--	    )-->
<!--		values-->
<!--		<foreach collection="list" item="adv" index="index" separator=",">-->
<!--			(-->
<!--			#{adv.campaignid,jdbcType=BIGINT}, #{adv.bydate,jdbcType=DATE}, -->
<!--			#{adv.attributedconversions1d,jdbcType=INTEGER}, -->
<!--			#{adv.attributedconversions7d,jdbcType=INTEGER}, -->
<!--		    #{adv.attributedconversions14d,jdbcType=INTEGER}, -->
<!--		    #{adv.attributedconversions30d,jdbcType=INTEGER}, -->

<!--		    #{adv.attributedunitsordered1d,jdbcType=INTEGER}, -->
<!--		    #{adv.attributedunitsordered7d,jdbcType=INTEGER}, -->
<!--		    #{adv.attributedunitsordered14d,jdbcType=INTEGER}, -->
<!--		    #{adv.attributedunitsordered30d,jdbcType=INTEGER}, -->
<!--		    -->
<!--		    #{adv.attributedsales1d,jdbcType=DECIMAL}, -->
<!--		    #{adv.attributedsales7d,jdbcType=DECIMAL}, -->
<!--		    #{adv.attributedsales14d,jdbcType=DECIMAL}, -->
<!--		    #{adv.attributedsales30d,jdbcType=DECIMAL}-->
<!--			)-->
<!--		</foreach>-->
<!--	</insert>-->
<!--	-->
	
	   <insert id="insertBatchAttributedSame" parameterType="java.util.List">
		replace into t_amz_adv_rpt2_sd_campaigns_attributed_same(
		campaignId, bydate, 
        attributedConversions1dSameSKU, 
        attributedConversions7dSameSKU, 
	    attributedConversions14dSameSKU, 
	    attributedConversions30dSameSKU, 
	    attributedSales1dSameSKU, 
	    attributedSales7dSameSKU, 
	    attributedSales14dSameSKU, 
	    attributedSales30dSameSKU
	    )
		values
		<foreach collection="list" item="adv" index="index" separator=",">
			(
			#{adv.campaignid,jdbcType=BIGINT}, #{adv.bydate,jdbcType=DATE}, 
 
		    #{adv.attributedconversions1dsamesku,jdbcType=INTEGER}, 
		    #{adv.attributedconversions7dsamesku,jdbcType=INTEGER}, 
		    #{adv.attributedconversions14dsamesku,jdbcType=INTEGER}, 
		    #{adv.attributedconversions30dsamesku,jdbcType=INTEGER}, 
		    
		    #{adv.attributedsales1dsamesku,jdbcType=DECIMAL}, 
		    #{adv.attributedsales7dsamesku,jdbcType=DECIMAL}, 
		    #{adv.attributedsales14dsamesku,jdbcType=DECIMAL}, 
		    #{adv.attributedsales30dsamesku,jdbcType=DECIMAL}
			)
		</foreach>
	</insert>
	
	
	   <insert id="insertBatchAttributedNew" parameterType="java.util.List">
		replace into t_amz_adv_rpt2_sd_campaigns_attributed_new(
		campaignId, bydate, 
	    attributedOrdersNewToBrand14d,
	    attributedSalesNewToBrand14d,
	    attributedUnitsOrderedNewToBrand14d
	    )
		values
		<foreach collection="list" item="adv" index="index" separator=",">
			(
			#{adv.campaignid,jdbcType=BIGINT}, #{adv.bydate,jdbcType=DATE}, 
		    #{adv.attributedOrdersNewToBrand14d,jdbcType=INTEGER}, 
		    #{adv.attributedSalesNewToBrand14d,jdbcType=DECIMAL},
		    #{adv.attributedUnitsOrderedNewToBrand14d,jdbcType=INTEGER}
			)
		</foreach>
	</insert>
	 
      <insert id="insertBatchAttributedView"   parameterType="java.util.List">
     replace into t_amz_adv_rpt2_sd_campaigns_attributed_view ( 
       campaignId,bydate,
       viewImpressions, viewAttributedConversions14d, 
       viewAttributedUnitsOrdered14d, viewAttributedSales14d
       )
    values 
    <foreach collection ="list" item="adv" index= "index" separator =",">
    (
       #{adv.campaignid,jdbcType=BIGINT},  #{adv.bydate,jdbcType=DATE},
       #{adv.viewImpressions,jdbcType=INTEGER}, #{adv.viewAttributedConversions14d,jdbcType=INTEGER}, 
       #{adv.viewAttributedUnitsOrdered14d,jdbcType=INTEGER},  #{adv.viewAttributedSales14d,jdbcType=DECIMAL} 
    )
    </foreach>
  </insert>

	<select id="getCampaigns" resultType="java.util.LinkedHashMap" parameterType="java.util.Map" >
		select
		<if test="dateType == 'daily'">
			t.bydate,
		</if>
		cm.state campaignStatus,cm.name campaignName,
		sum(budget) campaignBudget, sum(impressions) impressions, sum(clicks) clicks, sum(cost) Spend,
		ifnull((sum(clicks) / sum(impressions)),0) 'Click Thru Rate (CTR)',
		ifnull((sum(cost) / sum(clicks)),0) 'Cost Per Click (CPC)',
		ifnull(sum(sales),0) '7 Day Total Sales',
		case when ifnull(sum(cost),0) > 0 and ifnull(sum(sales),0) = 0
		then 0
		else
		ifnull((sum(cost) / sum(sales)),0)
		end 'Total Advertising Cost of Sales (ACoS)',
		ifnull((sum(sales) / sum(cost)),0) 'Total Return on Advertising Spend (RoAS)',
		ifnull(sum(purchases),0) '7 Day Total Orders',
		ifnull(sum(unitsSold),0) '7 Day Total Units'
		from t_amz_adv_rpt2_sd_campaigns t
		left join t_amz_adv_rpt2_sd_campaigns_attributed_all d on d.bydate=t.bydate and d.campaignId=t.campaignId
		left join t_amz_adv_rpt2_sd_campaigns_attributed_same sa on sa.campaignId=t.campaignId and sa.bydate=t.bydate
		left join t_amz_adv_campaigns_sd cm on cm.campaignId=t.campaignId and cm.profileid=t.profileid
		where t.profileid = #{profileid,jdbcType=BIGINT}
		and t.bydate &lt;= #{endDate,jdbcType=CHAR}
		and t.bydate &gt;= #{fromDate,jdbcType=CHAR}
		<if test="dateType == 'daily'">
			group by t.bydate,t.campaignId
		</if>
		<if test="dateType == 'total'">
			group by  t.campaignId
		</if>
	</select>
</mapper>