<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.erp.warehouse.mapper.WarehouseShelfInventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.erp.warehouse.pojo.entity.WarehouseShelfInventory">
        <id column="id" property="id" />
        <result column="shelfid" property="shelfid" />
        <result column="materialid" property="materialid" />
        <result column="shopid" property="shopid" />
        <result column="quantity" property="quantity" />
        <result column="size" property="size" />
        <result column="operator" property="operator" />
        <result column="opttime" property="opttime" />
    </resultMap>
 
	<select id="sumByShelf"   resultType="com.wimoor.erp.warehouse.pojo.vo.WarehouseShelfInventorySummaryVo"  parameterType="com.wimoor.erp.warehouse.pojo.entity.WarehouseShelf">
	    select * from (
		     SELECT sum(case when quantity >0 then 1 else 0 end) skunum,sum(quantity) quantity,sum(size)  size ,
		     max(e.name) warehousename,
		     max(u.name) operator,
		     max(s.opttime) opttime,
		     max(u2.name) creator,
		     max(s.creattime) creattime
		     FROM  t_erp_warehouse_shelf s 
		     left join t_erp_warehouse_address e on e.id=s.addressid
			 left join  t_erp_warehouse_shelf_inventory i on s.id=i.shelfid and s.shopid=i.shopid
			 left join t_userinfo u on u.id=s.operator
			 left join t_userinfo u2 on u2.id=s.creator
			 where s.shopid=#{shopid,jdbcType=CHAR}  
			   and s.addressid=#{addressid,jdbcType=CHAR}
			   <if test="treepath!=null">
	   			   and (s.treepath like CONCAT(#{treepath,jdbcType=CHAR},'!%')
	   			        or s.treepath=#{treepath,jdbcType=CHAR}
	   			       ) 
			   </if>
			   and s.isdelete=0
	     ) v1
	</select>

    <select id="findByMaterial"   resultType="com.wimoor.erp.warehouse.pojo.vo.WarehouseShelfInventoryVo"  parameterType="java.lang.String">
			   SELECT   i.id,i.shelfid,i.materialid,s.`name` shelfname,i.quantity,i.size,
			            m.sku,m.name,p.location image,w.name warehousename,i.warehouseid,
				        s.treepath
			     FROM t_erp_warehouse_shelf_inventory i 
			     left join t_erp_warehouse w on w.id=i.warehouseid
			     left join t_erp_material m on m.id=i.materialid
			     left join t_picture p on p.id=m.image
				 left join t_erp_warehouse_shelf s on s.id=i.shelfid and s.shopid=i.shopid
				 where s.shopid=#{shopid,jdbcType=CHAR}  
				   and s.addressid=#{addressid,jdbcType=CHAR}
				   <if test="warehouseid!=null">
				    and (i.warehouseid=#{warehouseid,jdbcType=CHAR} or i.warehouseid is null)
				   </if>
				   and i.materialid=#{materialid,jdbcType=CHAR}
				   and s.isdelete=0
				   and i.quantity>0
				   order by i.opttime asc
	   </select>

	   <select id="getUnShelfInventoryList"   resultType="com.wimoor.erp.warehouse.pojo.vo.WarehouseShelfInventoryVo"  >
	     SELECT  
	      p.location image,
          m.sku,
		  m.name,
		  ifnull(v1.quantity,0) warehousequantity,
		  m.id id,
		  ifnull(v2.quantity,0) shelfquantity,
		  ifnull(v1.quantity,0)-  ifnull(v2.quantity,0) quantity,
		  ifnull(v1.quantity,0)-  ifnull(v2.quantity,0) amount,
		  m.id materialid ,
		  v1.opttime,
		  v2.shelfid,
		  v1.warehouseid,
		  w.name warehousename,
		  adr.name addressname,
 		  <if test="param.shelfid!=null">
		  case when v2.shelfid=#{param.shelfid,jdbcType=CHAR} then now() else v1.opttime end orderitem
		  </if> 
		  <if test="param.shelfid==null">
		  v1.opttime orderitem
		</if>
		from t_erp_material m  
		left join (select i.materialid,i.warehouseid,sum(i.quantity) quantity,max(i.opttime)  opttime
					  from t_erp_inventory i  
					  left join t_erp_warehouse w on w.id=i.warehouseid
				      where i.shopid=#{param.shopid,jdbcType=CHAR} and w.addressid=#{param.addressid,jdbcType=CHAR} and status ='fulfillable'
				      <if test="param.warehouseid">
				      and i.warehouseid=#{param.warehouseid,jdbcType=CHAR}
				      </if>
					  group by i.materialid,i.warehouseid
		 ) v1  on m.id=v1.materialid 
		left join (
						select i.materialid,i.warehouseid,ifnull(sum(i.quantity),0) quantity,max(s.id) shelfid
						from t_erp_warehouse_shelf_inventory  i
						left join t_erp_warehouse_shelf s on s.id=i.shelfid
						where i.shopid=#{param.shopid,jdbcType=CHAR} and s.addressid=#{param.addressid,jdbcType=CHAR}
						 <if test="param.warehouseid">
				           and i.warehouseid=#{param.warehouseid,jdbcType=CHAR}
				         </if>
						group by i.materialid,i.warehouseid
		) v2 on v2.materialid=v1.materialid and v2.warehouseid=v1.warehouseid
		left join t_erp_warehouse w on w.id=v1.warehouseid
		left join t_erp_warehouse_address adr on adr.id=w.addressid
		left join t_picture p on p.id=m.image
		where m.shopid=#{param.shopid,jdbcType=CHAR}   and m.isdelete=0 and v1.quantity!=0
		 <if test="param.search!=null">
		   and m.sku like #{param.search,jdbcType=CHAR}
		</if> 
	    <if test="param.mtype!=null">
		   and m.mtype = #{param.mtype,jdbcType=CHAR}
		</if> 
		
	  	 <if test="param.materialid!=null">
		   and v1.materialid like #{param.materialid,jdbcType=CHAR}
		</if> 
 
	</select>
		
	 <select id="getShelfInventoryStockList"   resultType="com.wimoor.erp.warehouse.pojo.vo.WarehouseShelfInventoryVo" >
		SELECT m.name,m.sku,p.location image,w.name addressname,wh.name warehousename,
		ss.amount,ss.overamount  ,ss.lossamount ,m.id materialid,
		s.treepath,s.addressid,t.quantity,ss.id ,t.shelfid,m.price  ,t.warehouseid
		FROM t_erp_material m
		left join t_erp_warehouse_address w on w.id=#{param.addressid,jdbcType=CHAR}
		left join t_erp_warehouse_shelf s on  s.addressid=w.id and s.isdelete=0  
		<if test="param.shelfid!=null">
		 and s.id=#{param.shelfid,jdbcType=CHAR} 
		</if>
		left join t_erp_warehouse_shelf_inventory t  ON m.id=t.materialid and t.shelfid=s.id and t.shopid=m.shopid 
		left join t_erp_warehouse wh on wh.id=t.warehouseid
		left join t_erp_stocktaking_item_shelf ss on ss.shelfid=s.id and ss.warehouseid=t.warehouseid
		and stocktakingid=#{param.stocktakingid,jdbcType=CHAR} 
		and ss.materialid=m.id  
		LEFT JOIN t_picture p ON p.id=m.image
		WHERE m.shopid=#{param.shopid,jdbcType=CHAR} and m.isdelete=0
		<if test="param.hasinv!=null">
		    and t.quantity>0
		</if>
		<if test="param.treepath!=null">
		    and s.treepath like CONCAT(#{param.treepath,jdbcType=CHAR},'%') 
		</if>
		<if test="param.search!=null">
			and m.sku like #{param.search,jdbcType=CHAR}
		</if>
		<if test="param.sku!=null">
			and m.sku = #{param.sku,jdbcType=CHAR}
		</if>
		<if test="param.materialid!=null">
		   and t.materialid like #{param.materialid,jdbcType=CHAR}
		</if> 
		 <if test="param.selected!=null">
		   and ss.id is not null
		</if> 
		order by t.opttime desc
	</select>  
	
	<select id="getShelfInventoryList"   resultType="com.wimoor.erp.warehouse.pojo.vo.WarehouseShelfInventoryVo" >
		SELECT m.name,m.sku,p.location image,t.quantity amount, w.name addressname , wh.name  warehousename,s.treepath,s.addressid,t.*
		FROM t_erp_warehouse_shelf_inventory t
		left join t_erp_warehouse_shelf s on s.id=t.shelfid
		left join t_erp_warehouse wh on wh.id=t.warehouseid
		left join t_erp_warehouse_address w on w.id=s.addressid
		LEFT JOIN t_erp_material m ON m.id=t.materialid
		LEFT JOIN t_picture p ON p.id=m.image
		WHERE t.shopid=#{param.shopid,jdbcType=CHAR}
		<if test="param.shelfid!=null">
		    and t.shelfid=#{param.shelfid,jdbcType=CHAR}
		</if>
		   and s.addressid=#{param.addressid,jdbcType=CHAR}
		<if test="param.treepath!=null">
		    and s.treepath like CONCAT(#{param.treepath,jdbcType=CHAR},'%') 
		</if>
		   and t.quantity>0
		<if test="param.search!=null">
			and m.sku like #{param.search,jdbcType=CHAR}
		</if>
		<if test="param.sku!=null">
			and m.sku = #{param.sku,jdbcType=CHAR}
		</if>
		<if test="param.materialid!=null">
		   and t.materialid like #{param.materialid,jdbcType=CHAR}
		</if> 
		and s.isdelete=0
		order by t.opttime desc
	</select>  
	 
 
</mapper>
