<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.inboundV2.mapper.ShipInboundBoxV2Mapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.amazon.inboundV2.pojo.entity.ShipInboundBox" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="inboundPlanId" property="inboundPlanId" jdbcType="CHAR" />
    <result column="boxnum" property="boxnum" jdbcType="INTEGER" />
    <result column="length" property="length" jdbcType="DECIMAL" />
    <result column="width" property="width" jdbcType="DECIMAL" />
    <result column="height" property="height" jdbcType="DECIMAL" />
    <result column="unit" property="unit" jdbcType="CHAR" />
    <result column="weight" property="weight" jdbcType="DECIMAL" />
    <result column="wunit" property="wunit" jdbcType="CHAR" />
    <result column="opttime" property="opttime" jdbcType="TIMESTAMP" />
    <result column="operator" property="operator" jdbcType="CHAR" />
  </resultMap>
  <select id="findShipInboundBox" resultType="java.util.Map" parameterType="java.lang.String">
     select max(box.formid) inboundPlanId, box.id boxnum ,sum(ca.quantity) qty,
        max(box.weight) weight,
		max(box.length) length,max(box.width) width,max(box.height) height ,
		max(box.tracking_id) tracking_id,max(box.package_status) package_status
	  from t_erp_ship_v2_inboundshipment_box box
      left join t_erp_ship_v2_inboundshipment_boxitem ca on ca.boxid=box.id
      where box.shipmentid=#{shipmentid,jdbcType=CHAR}
      group by box.id
  </select>
  <select id="findAllBox" resultType="java.util.Map" parameterType="java.lang.String">
      SELECT  length, width, height,COUNT(0) number from t_erp_ship_v2_inboundbox
      where formid=#{id,jdbcType=CHAR}
      GROUP BY LENGTH,width,height
  </select>
</mapper>