<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.amazon.follow.mapper.ProductInfoFollowRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.amazon.follow.pojo.entity.ProductInfoFollowRecord">
        <id column="pid" property="pid" />
        <result column="status_upload" property="statusUpload" />
        <result column="orders_sum" property="ordersSum" />
        <result column="last_order_time" property="lastOrderTime" />
        <result column="createtime" property="createtime" />
        <result column="creator" property="creator" />
        <result column="quantity" property="quantity" />
        <result column="oldprice" property="oldprice" />
        <result column="price" property="price" />
        <result column="assumeprice" property="assumeprice" />
        <result column="lowprice" property="lowprice" />
        <result column="shopprice" property="shopprice" />
        <result column="pricetime" property="pricetime" />
        <result column="delivery_cycle" property="deliveryCycle" />
        <result column="rank" property="rank" />
    </resultMap>
     
</mapper>
