<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.finance.code.mapper.FinCodeRuleParamMapper">
    
    <resultMap type="com.wimoor.finance.code.domain.FinCodeRuleParam" id="FinCodeRuleParamResult">
        <result property="id"    column="id"    />
        <result property="groupid"    column="groupid"    />
        <result property="ruleCode"    column="rule_code"    />
        <result property="paramKey"    column="param_key"    />
        <result property="paramValue"    column="param_value"    />
        <result property="paramType"    column="param_type"    />
        <result property="paramOrder"    column="param_order"    />
        <result property="required"    column="required"    />
        <result property="description"    column="description"    />
        <result property="status"    column="status"    />
        <result property="createdTime"    column="created_time"    />
        <result property="updatedTime"    column="updated_time"    />
    </resultMap>

    <sql id="selectFinCodeRuleParamVo">
        select id, groupid, rule_code, param_key, param_value, param_type, param_order, required, description, status, created_time, updated_time from fin_code_rule_param
    </sql>

    <select id="selectFinCodeRuleParamList" parameterType="com.wimoor.finance.code.domain.FinCodeRuleParam" resultMap="FinCodeRuleParamResult">
        <include refid="selectFinCodeRuleParamVo"/>
        <where>  
            <if test="groupid != null "> and groupid = #{groupid}</if>
            <if test="ruleCode != null  and ruleCode != ''"> and rule_code = #{ruleCode}</if>
            <if test="paramKey != null  and paramKey != ''"> and param_key = #{paramKey}</if>
            <if test="paramValue != null  and paramValue != ''"> and param_value = #{paramValue}</if>
            <if test="paramType != null  and paramType != ''"> and param_type = #{paramType}</if>
            <if test="paramOrder != null "> and param_order = #{paramOrder}</if>
            <if test="required != null "> and required = #{required}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createdTime != null "> and created_time = #{createdTime}</if>
            <if test="updatedTime != null "> and updated_time = #{updatedTime}</if>
        </where>
    </select>
    
    <select id="selectFinCodeRuleParamById" parameterType="Long" resultMap="FinCodeRuleParamResult">
        <include refid="selectFinCodeRuleParamVo"/>
        where id = #{id}
    </select>

    <insert id="insertFinCodeRuleParam" parameterType="com.wimoor.finance.code.domain.FinCodeRuleParam" useGeneratedKeys="true" keyProperty="id">
        insert into fin_code_rule_param
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupid != null">groupid,</if>
            <if test="ruleCode != null and ruleCode != ''">rule_code,</if>
            <if test="paramKey != null and paramKey != ''">param_key,</if>
            <if test="paramValue != null and paramValue != ''">param_value,</if>
            <if test="paramType != null">param_type,</if>
            <if test="paramOrder != null">param_order,</if>
            <if test="required != null">required,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="updatedTime != null">updated_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupid != null">#{groupid},</if>
            <if test="ruleCode != null and ruleCode != ''">#{ruleCode},</if>
            <if test="paramKey != null and paramKey != ''">#{paramKey},</if>
            <if test="paramValue != null and paramValue != ''">#{paramValue},</if>
            <if test="paramType != null">#{paramType},</if>
            <if test="paramOrder != null">#{paramOrder},</if>
            <if test="required != null">#{required},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="updatedTime != null">#{updatedTime},</if>
         </trim>
    </insert>

    <update id="updateFinCodeRuleParam" parameterType="com.wimoor.finance.code.domain.FinCodeRuleParam">
        update fin_code_rule_param
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupid != null">groupid = #{groupid},</if>
            <if test="ruleCode != null and ruleCode != ''">rule_code = #{ruleCode},</if>
            <if test="paramKey != null and paramKey != ''">param_key = #{paramKey},</if>
            <if test="paramValue != null and paramValue != ''">param_value = #{paramValue},</if>
            <if test="paramType != null">param_type = #{paramType},</if>
            <if test="paramOrder != null">param_order = #{paramOrder},</if>
            <if test="required != null">required = #{required},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="updatedTime != null">updated_time = #{updatedTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinCodeRuleParamById" parameterType="Long">
        delete from fin_code_rule_param where id = #{id}
    </delete>

    <delete id="deleteFinCodeRuleParamByIds" parameterType="String">
        delete from fin_code_rule_param where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>