<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.erp.purchase.alibaba.mapper.ErpPurchaseAlibabaOrderTradetermsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.erp.purchase.alibaba.pojo.entity.ErpPurchaseAlibabaOrderTradeterms">
        <result column="orderid" property="orderid" />
        <result column="payStatus" property="payStatus" />
        <result column="payTime" property="payTime" />
        <result column="payway" property="payway" />
        <result column="phasAmount" property="phasAmount" />
        <result column="cardPay" property="cardPay" />
        <result column="expressPay" property="expressPay" />
        <result column="payWayDesc" property="payWayDesc" />
    </resultMap>

</mapper>
