<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.erp.purchase.alibaba.mapper.PurchaseFormEntryAlibabaInfoExtMapper" >
  <resultMap id="BaseResultMap" type="com.wimoor.erp.purchase.alibaba.pojo.entity.PurchaseFormEntryAlibabaInfoExt" >
    <id column="entryid" property="entryid" jdbcType="CHAR" />
    <result column="alibaba_auth" property="alibabaAuth" jdbcType="BIGINT" />
    <result column="alibaba_orderid" property="alibabaOrderid" jdbcType="BIGINT" />
    <result column="order_status" property="orderStatus" jdbcType="CHAR" />
    <result column="order_refresh_time" property="orderRefreshTime" jdbcType="TIMESTAMP" />
    <result column="logistics_refresh_time" property="logisticsRefreshTime" jdbcType="TIMESTAMP" />
    <result column="logistics_trace_refresh_time" property="logisticsTraceRefreshTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
	entryid,
	alibaba_auth,
	alibaba_orderid,
	order_status,
	order_refresh_time,
	logistics_refresh_time,
	logistics_trace_refresh_time
  </sql>
  <select id="getPriceByAlibabaOrder"  resultType="java.math.BigDecimal" parameterType="java.lang.String">
		   SELECT SUM(p.payprice) FROM t_erp_purchase_form_entry_alibabainfo_ext  e
			LEFT JOIN t_erp_purchase_form_payment p ON p.formentryid=e.entryid AND p.auditstatus=1
			WHERE e.alibaba_orderid=#{orderid,jdbcType=CHAR } and p.acct=#{acct,jdbcType=CHAR }
  </select>
</mapper>