<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.sys.tool.mapper.DeepseekChatMessagesMapper">

    <resultMap id="BaseResultMap" type="com.wimoor.sys.tool.pojo.entity.DeepseekChatMessages">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="sessionId" column="session_id" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="rawContent" column="raw_content" jdbcType="VARCHAR"/>
            <result property="messageType" column="message_type" jdbcType="OTHER"/>
            <result property="formatType" column="format_type" jdbcType="OTHER"/>
            <result property="codeLanguage" column="code_language" jdbcType="VARCHAR"/>
            <result property="tokens" column="tokens" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="metadata" column="metadata" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,session_id,role,content,raw_content,message_type,
        format_type,code_language,tokens,created_time,metadata
    </sql>
    <select id="getSearchKey" resultType="java.util.Map">
        SELECT content FROM (
                                SELECT  MAX(m.createtime) createtime,m.content  FROM  t_sys_tool_deepseek_chat_messages m
                                                                                          LEFT JOIN t_sys_tool_deepseek_chat_sessions s ON s.id=m.session_id
                                WHERE s.userid=#{userid,jdbcType=CHAR} AND m.role='user'

                                group BY m.content ) v
        ORDER BY createtime desc
    </select>
</mapper>
