<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.sys.tool.mapper.NotepadMapper">

    <resultMap id="BaseResultMap" type="com.wimoor.sys.tool.pojo.entity.Notepad">
            <result property="id" column="id" jdbcType="BIGINT"/>
            <result property="shopid" column="shopid" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="sku" column="sku" jdbcType="CHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="BIGINT"/>
            <result property="opttime" column="opttime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shopid,title,sku,content,operator,
        opttime
    </sql>
</mapper>
