<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.sys.tool.mapper.SysQueryVersionFeildMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.sys.tool.pojo.entity.SysQueryVersionFeild">
        <id column="fversionid" property="fversionid" />
        <result column="ffield" property="ffield" />
        <result column="findex" property="findex" />
    </resultMap>

</mapper>
