<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.sys.tool.mapper.SysTagsGroupsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wimoor.sys.tool.pojo.entity.SysTagsGroups">
        <id column="id" property="id" />
        <result column="grouptype" property="grouptype" />
        <result column="name" property="name" />
        <result column="shop_id" property="shopId" />
        <result column="description" property="description" />
        <result column="creator" property="creator" />
        <result column="createtime" property="createtime" />
        <result column="opterator" property="opterator" />
        <result column="opttime" property="opttime" />
    </resultMap>

</mapper>
