<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.adv.sp.dao.AmzAdvBudgetRulesMapper">
	  

	<select id="list" resultType="java.util.Map" parameterType="com.wimoor.amazon.adv.controller.pojo.dto.QueryForList">
		 select t.* from t_amz_adv_budget_rules t
		 where t.profileid=#{param.profileid}
		 <if test="param.search!=null">
		 	and t.name like  #{param.search}
		 </if>
	</select>
</mapper>