<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wimoor.amazon.report.mapper.ReportRequestRecordMapper">
	<resultMap id="BaseResultMap" type="com.wimoor.amazon.report.pojo.entity.ReportRequestRecord">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="sellerid" property="sellerid" jdbcType="CHAR" />
		<result column="marketPlaceId" property="marketplaceid" jdbcType="CHAR" />
		<result column="reportId" property="reportid" jdbcType="BIGINT" />
		<result column="reportType" property="reporttype" jdbcType="CHAR" />
		<result column="reportRequestId" property="reportrequestid" jdbcType="BIGINT" />
		<result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
		<result column="isnewest" property="isnewest" jdbcType="BIT" />
		<result column="availableDate" property="availabledate" jdbcType="TIMESTAMP" />
		<result column="getnumber" property="getnumber" jdbcType="INTEGER" />
		<result column="treatnumber" property="treatnumber" jdbcType="INTEGER" />
		<result column="report_processing_status" property="reportProcessingStatus" jdbcType="CHAR" />
		<result column="lastupdate" property="lastupdate" jdbcType="TIMESTAMP" />
		<result column="endDate" property="endDate" jdbcType="TIMESTAMP" />
		<result column="isrun" property="isrun" jdbcType="BIT" />
		<result column="reportOptions" property="reportOptions" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sellerid, marketPlaceId, reportId, reportType, reportRequestId, startDate, isnewest,lastupdate,
		availableDate,getnumber,treatnumber, report_processing_status,endDate,isrun,reportOptions,reportDocumentId
	</sql>
	
	<select id="oldestRequestByType" resultType="java.util.Date" parameterType="java.lang.String">
		select startDate
		from t_report_requestrecord
		where sellerid= #{sellerid,jdbcType=CHAR}
			and reporttype= #{reporttype,jdbcType=CHAR}
			and startDate is not null
		<if test="marketplacelist!=null">
			and
			(
			<foreach collection="marketplacelist" item="marketplaceid" index="marketplaceid_list" open="(" separator="or" close=")">
				marketplaceid = #{marketplaceid,jdbcType=CHAR}
			</foreach>
			)
		</if>
		order by startDate asc
		limit 0,1;
	</select>

	<select id="lastUpdateRequestByType" resultType="java.util.Date">
		select lastupdate
		from t_report_requestrecord
		where sellerid= #{sellerid,jdbcType=CHAR} 
			and reporttype= #{reporttype,jdbcType=CHAR}
			and lastupdate>date_add(curdate(), interval -3 day)
		<if test="starttime!=null">
		    and startDate= #{starttime,jdbcType=CHAR}
		</if>
		<if test="marketplacelist!=null">
			and
			(
			<foreach collection="marketplacelist" item="marketplaceid" index="marketplaceid_list" open="(" separator="or" close=")">
				marketplaceid = #{marketplaceid,jdbcType=CHAR}
			</foreach>
			)
		</if>
		and (report_processing_status is null or report_processing_status='DONE' 
		or report_processing_status='SUBMITTED' 
		or report_processing_status='success' 
		or report_processing_status='treat' 
		or  report_processing_status='IN_QUEUE' 
		or  report_processing_status='IN_PROGRESS' )
		<if test="reporttype=='_GET_FBA_STORAGE_FEE_CHARGES_DATA_' || reporttype=='_GET_FBA_FULFILLMENT_LONGTERM_STORAGE_FEE_CHARGES_DATA_'">
			and report_processing_status!='DONE_NO_DATA'
		</if>
		order by lastupdate desc
		limit 0,1;
	</select>

 

	<select id="selectNeedTreatOrderReport" resultMap="BaseResultMap">
		select * 
		from t_report_requestrecord
		where reportType='GET_FLAT_FILE_ALL_ORDERS_DATA_BY_ORDER_DATE_GENERAL' 
			and isnewest=true 
			and ifnull(treatnumber,0) &lt;10
	        and (report_processing_status is null 
	              or report_processing_status='DONE' 
	              or report_processing_status='treat' 
	              or  report_processing_status='IN_QUEUE' 
	              or  report_processing_status='IN_PROGRESS' )
			and sellerid=#{sellerid,jdbcType=CHAR}
			and lastupdate>date_add(curdate(), interval -3 day)
	</select>
	<select id="selectNeedTreatPageViewReport" resultMap="BaseResultMap">
		select * 
		from t_report_requestrecord
		where reportType='GET_SALES_AND_TRAFFIC_REPORT' 
			and isnewest=true 
			and ifnull(treatnumber,0) &lt;10
	        and (report_processing_status is null or report_processing_status='DONE' or report_processing_status='treat' or  report_processing_status='IN_QUEUE' or  report_processing_status='IN_PROGRESS' )
			and sellerid=#{sellerid,jdbcType=CHAR}
			and lastupdate>date_add(curdate(), interval -3 day)
	</select>
	<select id="hasNeedTreatInventoryReportList" resultMap="BaseResultMap">
		select * 
		from t_report_requestrecord
		where (reportType='_GET_FBA_MYI_UNSUPPRESSED_INVENTORY_DATA_' or reportType='_GET_RESERVED_INVENTORY_DATA_')
			and isnewest=true and ifnull(treatnumber,0) &lt;10
			and report_processing_status!='CANCELLED'
			and report_processing_status!='DONE_NO_DATA'
			and lastupdate>date_add(curdate(), interval -3 day)
	</select>
 
	<select id="selectNeedRefreshRequest" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_report_requestrecord r
		inner join  (
			select max(id) vid from t_report_requestrecord
			where isnewest=true 
				and treatnumber &lt;50
				and isrun=0
				and lastupdate>date_add(curdate(), interval -3 day)
			<if test="reporttype != null">
				and reportType=#{reporttype,jdbcType=CHAR}
			</if>
			<if test="reporttype == null">
				and reportType!='GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_V2'
			</if>
			<if test="marketplaceid != null">
				and marketPlaceId=#{marketplaceid,jdbcType=CHAR}
			</if>
			and (report_processing_status is null 
			or  report_processing_status='SUBMITTED' 
			or  report_processing_status='IN_QUEUE' 
			or  report_processing_status='IN_PROGRESS' )
			group by sellerid,marketPlaceId
		) v on r.id=v.vid
		order by availableDate asc,ifnull(treatnumber,0) asc
	</select>


	<select id="selectNeedProcessRequest" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_report_requestrecord r
		inner join  (
			select max(id) vid from t_report_requestrecord
			where isnewest=true 
				and ( treatnumber &lt;10 
				       and lastupdate>date_add(curdate(), interval -3 day) 
				         or (treatnumber &lt;30 and reportType='GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_V2')
				     )
			<if test="reporttype != null">
				and reportType=#{reporttype,jdbcType=CHAR}
			</if>
			<if test="reporttype == null">
				and reportType!='GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_V2'
			</if>
			<if test="marketplaceid != null">
				and marketPlaceId=#{marketplaceid,jdbcType=CHAR}
			</if>
		    AND ((report_processing_status='DONE' and isrun=0) or 
		    (report_processing_status='treat' and isrun=1 and lastupdate&lt;DATE_SUB(NOW(),INTERVAL 2 hour) and lastupdate>DATE_SUB(NOW(),INTERVAL 1 day))  )
			group by sellerid,marketPlaceId
		) v on r.id=v.vid
		order by availableDate asc,ifnull(treatnumber,0) asc
	</select>

	<select id="selectByReportType" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		from t_report_requestrecord
		where sellerid=#{sellerid,jdbcType=CHAR} 
			and reportType=#{reporttype,jdbcType=CHAR}
			and lastupdate &gt;=DATE_FORMAT(now(),'%Y-%m-%d')
		order by lastupdate desc;
	</select>
	
	<select id="selectFBArptByShopidLast" resultMap="BaseResultMap" parameterType="java.lang.String">
	SELECT t.* FROM t_report_requestrecord t
	WHERE t.sellerid=#{sellerid,jdbcType=CHAR}
	AND  reporttype='_GET_FBA_MYI_UNSUPPRESSED_INVENTORY_DATA_'  
	AND t.lastupdate &gt; DATE_FORMAT(NOW(),'%Y-%m-%d')
		ORDER  BY t.lastupdate desc limit 10
	</select>
	
	<select id="selectNoTreatReport" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_report_requestrecord r
		inner join  (
			select max(id) vid from t_report_requestrecord
			where isnewest=true 
				and reportid is not null  
				and ifnull(treatnumber,0) &lt;10 and isrun!=1
				and lastupdate>curdate()
			<if test="reporttype != null">
				and reportType=#{reporttype,jdbcType=CHAR}
			</if>
		    <if test="reporttype == null">
				and reportType!='GET_V2_SETTLEMENT_REPORT_DATA_FLAT_FILE_V2'
			</if>
			<if test="marketplaceid != null">
				and marketPlaceId=#{marketplaceid,jdbcType=CHAR}
			</if>
			group by sellerid,marketPlaceId
		) v on r.id=v.vid
		order by availableDate asc,ifnull(treatnumber,0) asc
	</select>
  <select id="selectTaskInfoList"  resultType="java.util.Map" parameterType="java.lang.String">
	    SELECT t.cname,r.report_processing_status,r.lastupdate
		from t_amz_report_request_type t
		LEFT JOIN  t_report_requestrecord r ON t.code=r.reportType  AND r.lastupdate>DATE_ADD(NOW(),INTERVAL  -1 DAY) 
	 	AND r.marketPlaceId=#{marketplaceid,jdbcType=CHAR}
	 	and r.sellerid=#{sellerid,jdbcType=CHAR}
	 	WHERE t.disabled=0 AND t.id NOT IN (17,22)
  </select>
</mapper>