<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wimoor.amazon.orders.mapper.AmzOrdersInvoiceVatMapper">

    <!-- 通用查询映射结果 -->
   <resultMap id="BaseResultMap" type="com.wimoor.amazon.orders.pojo.entity.AmzOrdersInvoiceVat" >
     <id column="id" property="id" jdbcType="BIGINT" />
    <result column="groupid" property="groupid" jdbcType="BIGINT" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="vat_num" property="vatNum" jdbcType="CHAR" />
    <result column="vat_rate" property="vatRate" jdbcType="REAL" />
  </resultMap>
   <select id="selectbyGroupAndCountry" resultMap="BaseResultMap" parameterType="java.lang.String" >
   		select * from t_order_invoice_vat t where t.groupid=#{groupid,jdbcType=CHAR} 
   		and t.country=#{country,jdbcType=CHAR}
   </select>
    
</mapper>
