
# VerificationStatus

## Enum


* `PENDING` (value: `"Pending"`)

* `APPROVED` (value: `"Approved"`)

* `REJECTED` (value: `"Rejected"`)

* `EXPIRED` (value: `"Expired"`)

* `CANCELLED` (value: `"Cancelled"`)



